.display-card {
    width: 300px;
    height: 420px;

    background-color: rgb(83, 157, 218);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;
    /* border: 2px solid; */
    border-color: #333;
    padding: 5px;
    text-align: center;
    font-size: .7em;
    /* cursor: pointer; */

    margin: 5px 5px 5px 5px;
    background-size: cover;
    background-position: center;
}

.inGame-card {
    width: 250px;
    height: 350px;


    background-color: rgb(83, 157, 218);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    /* border: 2px solid; */
    border-color: rgb(255, 255, 255);
    padding: 5px;
    text-align: center;
    font-size: .7em;
    /* cursor: pointer; */

    margin: 5px 5px 5px 5px;
    background-size: cover;
    /* background-position: center; */
}


.zoom-card {
    width: 540px;
    height: 756px;

    background-size: cover;
    background-position: center;
    border-radius: 15px;
    /* opacity: 10%; */

    display: flex;
    justify-content: flex-end;
    z-index: 502;
}


.zoom-card-image{
    /* height: 75vh; */
    height: 650px;
    /* min-height: 270px; */
    z-index: 502;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    pointer-events: none;
}



.zoom-close {
    position: absolute;
    z-index: 300;
    margin: 5px;
}


.activatedSkill{
    /* width: 250px;
    height: 350px; */
    width: 220px;
    height: 308px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 5px 5px 10px;
    background-size: cover;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);

    /* transition: transform 0.9s; */
    /* animation: activation 0.65s ease-in-out; */
}

.displayedSkills{
    position: absolute;
}

@keyframes activation {
    0% {
        filter: brightness(300%);
        opacity: 0.35;
        scale: 1.2;
    }

    100% {
        filter: brightness(100%);
        opacity: 1;
        scale: 1;
    }
}


.skillChain, .resonatorChain {
    height: 50%;
    display: flex;
    align-items: center;
}




/* //////////////////////////// */

@media screen and (max-width: 600px) {    
    .zoom-card-image-small {
        width: 90vw;
        height: auto;
    }
}


@media screen and (max-height: 600px) {
    .zoom-card-image-small {
        width: auto;
        height: 90vh;
    }
}