.display-card {
    width: 300px;
    height: 420px;


    background-color: rgb(83, 157, 218);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;
    /* border: 2px solid; */
    border-color: #333;
    padding: 5px;
    text-align: center;
    font-size: .7em;
    /* cursor: pointer; */

    margin: 5px 5px 5px 5px;
    background-size: cover;
    background-position: center;
}

.inGame-card {
    /* width: 400px;
    height: 560px; */

    width: 250px;
    height: 350px;


    background-color: rgb(83, 157, 218);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    /* border: 2px solid; */
    border-color: rgb(255, 255, 255);
    padding: 5px;
    text-align: center;
    font-size: .7em;
    /* cursor: pointer; */

    margin: 5px 5px 5px 5px;
    background-size: cover;
    /* background-position: center; */
}



.zoom-card {
    width: 540px;
    height: 756px;

    background-size: cover;
    background-position: center;
    border-radius: 15px;
    /* opacity: 10%; */

    display: flex;
    justify-content: flex-end;
    z-index: 502;
}


.zoom-card-image{
    height: 75vh;
    /* min-height: 270px; */
    z-index: 502;
    border-radius: 15px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    cursor: default;
    pointer-events: none;

}



.zoom-body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: rgba(54, 211, 49, 0.479); */
    /* position: relative; */
    position: fixed;
    left: 50%;
    z-index: 501;
    background-color: aqua;
}

.zoom-body2 {
    display: flex;
    flex-direction: column;

}



.zoom-close {
    position: absolute;
    z-index: 300;
    margin: 5px;
}



.activatedSkill{
    /* width: 250px;
    height: 350px; */
    width: 220px;
    height: 308px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 5px 5px 10px;
    background-size: cover;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);

    transition: transform 0.9s;
    animation: activation 0.65s ease-in-out;
}

.displayedSkills{
    position: absolute;
}

@keyframes activation {
    0% {
        filter: brightness(300%);
        opacity: 0.35;
        scale: 1.2;
    }

    100% {
        filter: brightness(100%);
        opacity: 1;
        scale: 1;
    }
}

.activatedCardDisplay{
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-column: 1fr;
    position: relative;
}

.resonatorChain{
    position: relative;
    background-color: rgb(43, 226, 58);
}

.skillChain{
    height: 350px;
    position: relative;
    /* background-color: blueviolet; */
}

.topmostDisplay:hover{
    scale: 1.25;
    z-index: 2;
}


.tacticSovereignContainer{
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0.55);
    width: 335px;
    height: 155px;
    padding: 1px;
    border-radius: 10px;
    border: 2.5px solid goldenrod;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0,0.5);
    
}

.tacticSovereignContainer-info {
    position: absolute;
    right: 10px;
    

}

.tacticSovereignDice{
    margin: 5px 10px;
}

.tacticSovereignBG:not(.disabledtacticSovereignBG):hover {
    filter: brightness(120%);
}

.tacticSovereignBG {
    margin: 0 5px 0 5px;
    width: fit-content;
    height: fit-content;
    border: goldenrod 3px solid;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
    box-shadow: 0px 0px 5.5px 3px rgba(2, 6, 15, 0.5);
}

.disabledtacticSovereignBG {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(19, 15, 15) 60%, rgb(44, 43, 43) 100%);
}

.tacticSovereign {
    height: 100px;
    width: 100px;
    padding: 5px;
    margin: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.tacticSovereignLabel{
    padding: 3.5px;
    font-family: Arial,
    sans-serif;
    font-size: 18px;
    text-align: center;

    color: #e8e8e8;
}

.displayedCardOptions {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;    /* vertically */
    align-items: center;    /* horizontally */

}

.activateButton {
    width: fit-content;
    margin: 0px 0px 20px;
    padding: 10px;
    /* justify-self: end; */
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: #e8e8e8;
    background: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
    cursor: pointer;
    height: fit-content;
}

.activateButton:hover {
    filter: brightness(1.2)
}

.displayCardButton{
    min-width: 160px
}