.loading-image-body{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    position: absolute;
    height: fit-content;
    max-width: 1500px;
    pointer-events: none;
}

.loading-image{
    position: absolute;
    z-index: 99;
}

.loading-image-container{
    position: relative;
    display: flex;
    height: calc(100vh - 65px);
    width: 100vw;
    max-width: 1500px;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    background-size: cover;
    background-position: center;

}

.loading-text{
    color: white;
    z-index: 100;

        -webkit-text-stroke: 1px #000000;


    font-size: 130px;
    position: absolute;
    
    /* left: 50%;
    transform: translateX(-50%); */
}

@media screen and (min-width: 501px) and (max-width: 1030px) {

    .loading-text {
        font-size: 90px;

    }
}

@media screen and (max-width: 875px) {

    .loading-text {
        font-size: 45px;
       
    }
}