.loading-image-body{
    background-color: rgb(25, 105, 0);
    

    overflow: hidden;
    position: absolute;
    
    height: fit-content;
    pointer-events: none;
}

.loading-image{
    position: absolute;
    z-index: 99;
}

.loading-image-container{
    position: relative;
    display: flex;
    height: calc(100vh - 65px);
    width: 1500px;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.loading-text{
    color: white;
    z-index: 100;
    text-shadow:
            -3px -3px 0 #000,
            /* Top left */
            3px -3px 0 #000,
            /* Top right */
            -3px 3px 0 #000,
            /* Bottom left */
            3px 3px 0 #000;
        /* Bottom right */

    font-size: 130px;
    position: absolute;
    
    /* left: 50%;
    transform: translateX(-50%); */


}