.modal-backdrop,
.modal-backdrop2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50000;
    /* bugged outside Firefox */
    /* backdrop-filter: blur(2px) */
}

.modal-backdrop2 {
    z-index: 501;
    cursor: pointer;
    pointer-events: all;
}

.modal {
    padding: 20px;
    max-height: 1000px;
    width: fit-content;
    min-width: 40%;
    max-width: 950px;
    margin: 0px auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow-y: auto;
    scrollbar-width: thin;
}

.modalHeader {
    /* background-color: red; */
    display: flex;
    height: fit-content;
    padding: 0px;
}

.modalTitle {
    color: #333333;
    font-family: "Times New Roman", Times, serif;
    font-size: 42.50px;
    font-weight: 600;
    line-height: 110%;
    display: flex;
    align-items: center;
    padding-right: 15px;

    /* background-color: #b30000; */
}

.modalButton {
    /* background-color: aqua; */
    margin-left: auto;
}

.modalContent {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
}

.modalChoice1 {
    border: 4px solid rgba(0, 0, 0, 1);
    text-align: center;
    margin: 8px;
    padding: 6px;
    height: 280px;
    width: 250px;
    cursor: pointer;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-position: center; */
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.75);
    position: relative;
}

.modalChoiceContent {
    /* position: absolute; */
    background: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.modalChoiceHeader {
    height: 100px;
    /* background-color: blue; */
}

.modalChoiceName {
    padding: 6px 15px;
    color: #e8e8e8;
    font-family: "Times New Roman", Times, serif;
    font-size: 32.5px;
    /* background-color: aquamarine; */
}

.modalChoiceName2 {
    padding: 6px 0px 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem
}

.modalChoiceText {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    color: #e8e8e8;
    text-align: left;


    padding: 6px 10px 0px;
    color: #e8e8e8;
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;


    /* overflow-y: auto;
    scrollbar-color: rgb(255, 168, 7) rgba(92, 63, 52, 0);
    scrollbar-width: thin; */
}

.bountySection {
    margin-bottom: 10px;
}

.modalBountyContents {
    display: flex;
    flex-direction: column;
    height: 170px
        /* padding: 0px 10px; */
        /* background-color: #b30000; */
}

.modalBountyText {
    text-align: center;
    font-size: 1.35rem;
    margin: 10px 5px;
}



.modalDefianceContents {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.modalDefianceText {
    text-align: center;
    font-size: 1.35rem;
    margin: 0px 5px 5px;
}


.modalCost {
    /* background-color: aqua; */
    margin-top: auto;
}

.modalBottomButton {
    /* background-color: #b30000; */
    margin-top: 20px;
    height: 60px;
    display: flex;
    justify-content: center;
}


.tactic {
    padding: 10px;
    height: 280px;
    width: 280px;
    margin: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.tacticSmall {
    height: 220px;
    width: 220px;
}

.tactic-icon {
    height: 270px;
    position: relative;
    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

}

.tactic-label {
    text-align: center;
    font-size: 25px;
    padding-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.disabledTactic {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(19, 15, 15) 60%, rgb(44, 43, 43) 100%);
    filter: saturate(0) brightness(0.8);
    cursor: not-allowed;

}

.tacticBG {
    margin: 0 5px 0 5px;
    width: fit-content;
    height: fit-content;
    border: 8px ridge goldenrod;
    background-image: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
    box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.50);
}

.tacticBG:not(.disabledTacticBG):hover {
    filter: brightness(1.20)
}

.disabledTacticBG {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(19, 15, 15) 60%, rgb(44, 43, 43) 100%);
    /* background-image: none; */
}


.twoColumn {
    grid-template-columns: 1fr 1fr;
    display: grid;
}

.threeColumn {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    /* display: flex;
        justify-content: center; */
}

.fourColumn {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    /* display: flex;
    justify-content: center; */
}

.column-centered {
    display: flex;
    justify-content: space-around;
}


.scrollable {
    max-height: 550px;
    overflow-y: auto;
    width: fit-content;
    /* max-width: 1000px; */
    padding: 9px;


    scrollbar-color: rgb(255, 168, 7) rgba(92, 63, 52, 0);
    scrollbar-width: thin;
}

.scrollable-y-only {
    overflow-x: hidden;
    padding-right: 25px;

}

/* to-do: remove .center */

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scionSkills {
    margin: 4px 6px;
    border-radius: 10px;
    background-color: #33333300;
}

.selectedSkill {
    /* background-color: rgb(72, 209, 30); */
    background-color: rgba(252, 255, 64, 0.85);
    animation: selectedSkillGlow 2.0s infinite;
}

@keyframes selectedSkillGlow {
    0% {
        /* box-shadow: 0px 0px 8px 5px rgb(194, 65, 253); */
        box-shadow: 0px 0px 4px 4px rgba(252, 255, 64, 0.45);
    }

    35%,
    50%,
    65% {
        box-shadow: 0px 0px 8px 10px rgba(255, 255, 64, 0.7);
    }

    100% {
        box-shadow: 0px 0px 4px 4px rgb(252, 255, 64,
                0.45);
    }
}

.revealed-skill {
    width: 180px;
    height: 252px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    margin: 5px;
    padding: 0 auto;
    background-size: cover;
    background-position: center;

    border-radius: 10px;
}

.decreased-height {
    max-height: 320px !important;
}


.redButton {
    width: fit-content;
    /* margin: 4px; */
    /* margin-bottom: 15px; */
    /* margin: 5px 0; */
    padding: 4px 6px;
    /* justify-self: end; */
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #e8e8e8;
    background: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
    cursor: pointer;
    height: 47px;
    border-color: goldenrod;
    min-width: 100px;
    /* align-self: self-end; */


    box-shadow: 0px 0px 4.5px 1.5px rgba(0, 0, 0, 0.25);
}

.redButton:hover {
    filter: brightness(1.2)
}

.bottomAnchor {
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-around;
    height: 100%;
}

.selectElementIcon {
    height: 120px;
    width: 120px;
}


.abilityQualifier {
    color: #e8e8e8;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;

    /* background-color: aqua; */

}

.abilityText {
    padding: 1px 10px 1px 15px;
    color: #e8e8e8;
    font-family: "Times New Roman", Times, serif;
    font-size: 24.5px;
    text-align: left;
    /* justify-content: left; */
}


.oneAbility {
    display: flex;
    justify-content: center;
}



/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

*/ .scroll-color-auto {
    scrollbar-color: auto;
}

.scroll-color-colors {
    scrollbar-color: rgb(255, 153, 0) lightyellow;
}

.unitInfoModal {
    padding: 30px;
    height: 650px;
    width: 740px;
    /* max-width: 850px; */
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.875);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    pointer-events: all;
    cursor: default;
}

.unitInfoModal * {
    pointer-events: all;
    cursor: default;
}

.unitInfo-close {
    position: absolute;
    z-index: 300;
    margin: 5px;
    right: 0
}




.unitInfo-Abilities-Attributes {
    position: relative;
    display: flex;
    gap: 1rem;
    height: 280px;
}

.unitInfo-Abilities {
    padding: 7px;
    position: relative;

    width: 350px;

}

.unitInfo-Attributes {
    padding: 7px;
    position: relative;
    width: 350px;
}


.unitInfo-Attributes-SkillSet {
    display: flex;
    flex-direction: column;
}

.unit-info-skill-set {
    display: flex;
    justify-content: center;
}

.unit-info-skill {
    width: 60px;
    height: 84px;
    margin: 0px 10px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    position: relative;
    transition: transform 0.15s ease-in-out;
}

.unit-info-skill:hover {
    filter: brightness(1.2);
    cursor: pointer;
    transform: scale(1.2);
}



.unitInfo-Talents-Statuses {
    margin-top: 10px;
    position: relative;
    display: flex;
    gap: 1rem;
    height: 280px;
}

.unitInfo-Talents {
    padding: 7px;
    position: relative;
    width: 350px;
}

.unitInfo-scroll {
    height: 80%;
    padding: 0;
    position: relative;
}

.unitInfo-Statuses {
    padding: 7px;
    position: relative;
    width: 350px;
}


.unitInfo-text {
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 5px;
    margin: 0;
}

.unitInfo-text-heading1 {
    font-family: 'Raleway, sans-serif', Times, serif;
    font-size: 1.5em;
    margin-bottom: 5px;
}

.unitInfo-text-heading2 {
    font-family: 'Arial, sans-serif', Times, serif;
    font-size: 1.05em;
    margin: 0;
    font-weight: 600;
}

.unitInfo-text-desc {
    font-size: .925em;
    margin-left: 10px;
    line-height: 1.4;
}

.unitInfo-text-last {
    margin-bottom: 8px;
}

.unitInfo-tactic-group {
    position: absolute;
}

.unitInfo-tactic-group2 {
    position: relative;
    top: 2px;
}

.unitInfo-tactic-icon {
    height: 27.5px;
    margin: 0px 8px;
    filter: brightness(0%);
}

.unitInfo-tactic-icon2 {
    height: 19px;
    margin: 1.5px 1px 0px;
    filter: brightness(0%);
}

.unitInfo-tactic-mobilize {
    height: 27.5px;
    margin: 0px -15px 0px 8px;
    filter: brightness(0%);
}

.infoPopUp-tactic-group {
    position: relative;
    top: 4px;
    left: -6px;
}

.infoPopUp-tactic-icon {
    height: 35px;
    margin: 0px 8px;
    filter: brightness(0%);
}

.infoPopUp-list {
    position: relative;
    list-style-type: upper-alpha;
    margin: 2px;
    /* background-color: #b30000; */
}

.infoPopUp-list2 {
    position: relative;
    margin: 2px;
    /* background-color: #b30000; */
}


.finalPhase-Button {

    /* background-color: red; */

    display: flex;
    justify-content: center;

}

.view-revealed-skill {
    display: flex;
    justify-content: center;
}



.check-box-label {
    margin: 4px;
    font-size: 30px;
}

.multi-option-buttons {
    display: flex;
    gap: 25px
}



.modal-option-outline {
    border: 4px solid rgba(0, 0, 0, 1);
    margin: 8px;
    /* height: 280px;
    width: 250px; */
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.75);
    position: relative;
    cursor: pointer;
}

.selected-modal-option {
    /* border: 4px solid rgba(255, 251, 0, 0.65); */
    border-color: rgba(255, 251, 0, 0.65);
    border-style: solid;
    animation: selected-option-glow 2.0s infinite;
}

.selected-modal-option2 {
    animation: selected-option-glow 2.0s infinite;
}

@keyframes selected-option-glow {
    0% {
        box-shadow: 0px 0px 4px 4px rgba(255, 251, 0, 0.25);
    }

    35%,
    50%,
    65% {
        box-shadow: 0px 0px 7px 7px rgba(255, 251, 0, 0.65);
    }

    100% {
        box-shadow: 0px 0px 4px 4px rgb(255, 251, 0, 0.25);
    }
}


.modal-option-content {
    background: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
    height: 280px;
    width: 250px;
    display: flex;
    flex-direction: column;
    border: 7.5px ridge rgb(247, 200, 84);
}


.modal-option-content-2 {
    height: 170px;
    width: 245.5px;
    border: 6.5px ridge rgb(247, 200, 84);
}


.modal-option-content-3 {
    height: 180px;
    width: 190px;
    border: 6.5px ridge rgb(247, 200, 84);
}


.disabled-modal-option-content {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(19, 15, 15) 60%, rgb(44, 43, 43) 100%);
    cursor: not-allowed
}

.modal-option-content:not(.disabled-modal-option-content):hover {
    filter: brightness(1.2)
}

.modal-option-header {
    height: 100px;
    overflow: hidden;
    flex-shrink: 0;

    /* background-color: rgb(0, 31, 46); */
}

.modal-option-header-ability {
    height: 115px;
}

.modal-option-title {
    padding: 6px 10px 0px;
    color: #e8e8e8;
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
    /* font-size: 35px; */
    font-weight: 600;
    text-align: center;

    /* width: 90%; */
    text-overflow: ellipsis;
    overflow-x: auto;

    scrollbar-color: rgb(255, 168, 7) rgba(92, 63, 52, 0);
    scrollbar-width: thin;

    /* background-color: aquamarine; */
}



.modal-option-oneshot {
    color: #e8e8e8;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal-option-text {
    display: flex;
    flex-direction: column;
    color: #e8e8e8;
    text-align: left;

    padding: 4px 6px 0px;
    color: #e8e8e8;
    /* font-family: "Times New Roman", Times, serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;


    overflow-y: auto;
    scrollbar-color: rgb(255, 168, 7) rgba(92, 63, 52, 0);
    scrollbar-width: thin;

    /* background-color: aqua; */
}

.modal-option-element {
    padding: 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-color: aqua; */
}


.modal-defiance-text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.35rem;
    padding: 0px 6px 5px;
    color: #e8e8e8;
}


.modal-custom-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.close-modal-button {
    height: 60px;
    fill: rgb(151, 8, 11);
    border-radius: 100%;
    border: 2px goldenrod ridge;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.50);
    cursor: pointer;
}

.close-modal-button:hover {
    scale: 1.05;
    fill: rgb(202, 25, 28);
    filter: brightness(1.1);
}

.info-modal {
    height: 700px;
    width: 750px;
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.875);
    border-radius: 10px;
    border: goldenrod 8px ridge;
    display: flex;
    flex-direction: column;
    pointer-events: all;
    cursor: default;
}


.info-modal-header {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 0px 25px;
    margin-bottom: 10px;
    height: 100px;
    background: linear-gradient(to bottom, rgba(126, 126, 126, 0.75), rgba(219, 208, 208, 0.75) 100%);
    box-shadow: 0px 3px 1px 1px rgba(0, 0, 0, 0.40);
}

.unit-info-icon {
    width: 75px;
    height: 75px;
    /* position: absolute; */
    z-index: 3;
    border-radius: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.95);
    margin-right: 20px;
    /* background-color: #b30000; */
}

.info-modal-title {
    color: #333333;
    font-family: "Times New Roman", Times, serif;
    font-size: 2.1em;
}

.info-modal-contents {
    padding: 0px 20px 20px;
}



/* ////////////////////////////////////// */


@media screen and (max-width: 450px) and (orientation: portrait) {

    .modal-mobile {
        max-width: 90vw;
        max-height: 80vh;
    }

}



@media screen and (max-width: 926px) and (orientation: landscape) {

    .modal-mobile {
        transform: scale(0.5) translateY(-75%);
        max-height: 160vh;
        max-width: none;
    }

}

