.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 500
}



.modal{
    padding: 20px ;
    max-height: 1000px;
    width: fit-content;
    min-width: 50%;
    max-width: 950px;
    margin: 0px auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;

    position: relative;
    top: 50%;
    transform: translateY(-50%);






}



/* .modalNoYes {
    margin: 300px auto;
    min-height: 200px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
} */

.bountyHeader {
    justify-content: space-between;
}

.phaseSelection{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
    margin: 10px;
}

.aquisitionSelection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    margin: 10px;
}

.choiceWithDescription{
    border: 2px solid;
    text-align: center;
    padding: 4px;
    width: 180px;
    cursor: pointer;
}

.choiceWithDescription:not(.disabledOption):hover {
    background: rgb(99, 192, 63)
}

.disabledOption{
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(19, 15, 15) 60%, rgb(44, 43, 43) 100%);
    color: white;
    /* filter: grayscale(100%); */
    cursor: default;
}


.tactic{
    padding: 10px;
    height: 280px;
    width: 280px;
    margin: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.tacticSmall {
    height: 220px;
    width: 220px;
}

.tactic-icon{
    height: 270px;
    position: relative;
    top: 50%;
    /* Move the image down by 50% of its height */
    left: 50%;
    /* Move the image right by 50% of its width */
    transform: translate(-50%, -50%);
    /* Center the image */


}


.tactic-label{
    text-align: center;
    font-size: 25px;
}

.disabledTactic{
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(19, 15, 15) 60%, rgb(44, 43, 43) 100%);
    filter: saturate(0) brightness(0.8);
    cursor: not-allowed;

}

.tacticBG {
    margin: 0 5px 0 5px;
    width: fit-content;
    height: fit-content;
    border: 4px solid goldenrod;
    background-image: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.55);
}

.tacticBG:not(.disabledTacticBG):hover {
    filter: brightness(1.20)
}

.disabledTacticBG {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(19, 15, 15) 60%, rgb(44, 43, 43) 100%);
    /* background-image: none; */
}


.twoColumn{
    grid-template-columns: 1fr 1fr;
    display: grid;
}
/* 
.twoColumn-center {

    display: flex;
    justify-content: center;
} */


.twoColumn3-1 {
    grid-template-columns: 3fr 1fr;
    display: grid;

}

.threeColumn {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
        /* display: flex;
            justify-content: center; */

}

.fourColumn {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    /* display: flex;
    justify-content: center; */
}

.column-centered {

    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
}

.scrollable{
    max-height: 550px;
    overflow-y: auto;
    width: fit-content;
    /* max-width: 1000px; */
    padding: 9px;


    scrollbar-color: rgb(255, 168, 7) rgba(92, 63, 52, 0);
    scrollbar-width: thin;
}

.scrollable-y-only{
    overflow-x: hidden;
    padding-right: 25px;

}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scionSkills{
    margin: 1px;
    border-radius: 10px;
}

.selectedSkill {
    background-color: rgb(72, 209, 30);

}

.revealed-skill {
    width: 180px;
    height: 252px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    margin: 5px;
    padding: 0 auto;
    background-size: cover;
    background-position: center;

    border-radius: 10px;
}

.decreased-height{
    max-height: 320px !important;
}



.customChoice {
    border: 4px solid rgba(0, 0, 0, 1.0);
    text-align: center;
    margin: 10px;
    padding: 8px ;
    height: 400px;
    width: 250px;
    cursor: pointer;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;  
}



.customChoiceFrame {
    /* position: absolute; */
    width: 100%;
    height: 100%;  
    background: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
    
    align-items: center;        /* vertical alignment */
    justify-content: center; /* horizontal alignment */
    display: flex;
    flex-direction: column;
}

.customChoiceFrameElement {
    z-index: 1;
    position: relative;
    height: fit-content;
    background: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);

    align-items: center;

    padding-top: 10px;

    /* vertical alignment */
    /* justify-content: center; */
    /* horizontal alignment */
    display: flex;
    flex-direction: column;
}


.customChoiceSmall {
    height: 280px;
    width: 200px;
    padding: 6px 8px
}

.customChoiceSmaller {
    height: 180px;

    width: 95%;
    /* max-width: 383px;  */

    /* width: 180px; */
    /* width: 90%; */
    padding: 4px;
    margin: 5px 5px 15px 5px;
}

.customChoiceElement{
    
    height: 180px;
    width: 165px;
    padding: 4.5px 7px;

}


.customChoiceFrameHeader{
    flex: 20
}

.customChoiceDescription {
    flex: 80;
    padding: 10px 15px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 22px;
}

.bountyText {
    /* display: flex;
    flex-direction: column; */
    height: 225px;

    display: grid;
    /* grid-row: 3fr 1fr; */

}

.bountyDescription{
    color: white;
    padding: 5px 8px 0px;
    font-family: Arial, sans-serif;
    font-size: 22px;


    height: 80px;
    /* height: 75%; */
    /* max-height: 80px */

}

.bpCost {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    /* height: 25px; */
    height: 25%;
    padding: 0px 5px
}


.customChoiceFrame:not(.disabledChoice):hover {
    filter: brightness(1.20)
}

.disabledChoice{
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(19, 15, 15) 60%, rgb(44, 43, 43) 100%);
    cursor:not-allowed;
}

.selectedChoice{
        border: 4px solid rgba(52, 185, 35, 0.65);
}


.choiceText{
    padding: 4px 8px 0px 8px;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 23px;
}

.choiceTitle {
    color: rgb(0, 0, 0);
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    line-height: 135%;
    position: relative;
    align-self: left;
}

.smallerTitle{
    font-size: 30px;
}

.choiceButton{
    width: fit-content;
    /* margin: 4px; */
    padding: 4px 6px;
    justify-self: end;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: white;
    background: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
    cursor: pointer;
    height: 47px;
    border-color: goldenrod;
    min-width: 100px;
    align-self: self-end;
}

/* .noYes{
    min-width: 100px;
    justify-self: center;
        
} */

.noYesMessage {
margin-bottom: 30px;
}

.choiceButton:hover{
    filter: brightness(1.2)
}

.bottomAnchor{
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-around;
    height: 100%;
}

.selectElementIcon{
    height: 120px;
    width: 120px;
    /* filter: grayscale(0.8) */
}

.abilityName {
    padding: 10px 15px;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 34px;
}

.abilityQualifier {
    padding: 0px 15px;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 23px;
    /* font-style: italic; */
    /* min-height: 2000px; */

}

.abilityText {
    padding: 1px 10px 1px 15px;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    text-align: left;
    /* justify-content: left; */
}


.abilityFrame {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.abilityFrame:not(.disabledAbility):hover {
    filter: brightness(1.2)
}

.abilityContent {
    height: 75%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: top;
    text-align: left;
    overflow-y: auto;
    /* scrollbar-color: rgb(255, 168, 7) rgba(92, 63, 52, 0);
    scrollbar-width: thin; */
}

.abilityHeader{
    height: 180px;
    /* background-color: blue; */

}

.disabledAbility {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(19, 15, 15) 60%, rgb(44, 43, 43) 100%);
    cursor: not-allowed
}

.oneAbility{
    display: flex;
    justify-content: center;

}

.singleAbilityModal{
    max-width: 395.6px ;
}

.dualAbilityModal {
    max-width: 628px;
}

/* width
::-webkit-scrollbar {
    width: 15px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
} */

.scroll-color-auto {
    scrollbar-color: auto;
}

.scroll-color-colors {
    scrollbar-color: rgb(255, 153, 0) lightyellow;
}


.defianceText{
    height: 196px;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 55% 20%


}

.defianceTitle{
    color: white;
    padding: 10px 15px;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 28px;
    height: fit-content;
    grid-row: 1;
}

.defianceDescription {
    color: white;
    padding: 5px 8px 0px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    grid-row: 2;
}

.defianceDescriptionSmall {
    font-size: 16.75px;
}

.fdCost {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 5px;
    margin: 0;
    grid-row: 3;
}


.loading-body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



.unitInfoModal{
    padding: 30px;
        height: 650px;
        width: 740px;
        /* max-width: 850px; */
        margin: 100px auto;
        background: rgba(255, 255, 255, 0.875);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        /* justify-content: flex-end; */
}

.unitInfoHeader{
position: relative;
display: flex;
/* background: rgba(229, 255, 0, 0.411); */


}

.unitInfo-close {
    position: absolute;
    z-index: 300;
    margin: 5px;
    right: 0
}

.unitInfo-icon {
    /* object-fit: cover; */
    width: 80px;
    height: 80px;
    /* position: absolute; */
    z-index: 3;
    border-radius: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.95);
    margin-right: 20px;
}

.unitInfo-name{
        color: rgb(0, 0, 0);
        font-family: "Times New Roman", Times, serif;
        font-size: 45px;
        line-height: 135%;
        padding: 10px 0px;
}

.unitInfo-Abilities-Attributes{
    margin-top: 10px;
    position: relative;
    display: flex;
    gap: 1rem;

    /* background: rgba(229, 255, 0, 1); */
    height: 280px;
}

.unitInfo-Abilities {
    padding: 7px;
    position: relative;

    /* background: rgb(197, 44, 44); */
    width: 350px;
    
    /* scrollbar-color: rgb(255, 168, 7) rgba(92, 63, 52, 0);
    scrollbar-width: thin; */
}

.unitInfo-Attributes {
    padding: 7px;
    position: relative;
    /* background: rgba(70, 236, 145, 0.822); */
    width: 350px;
    
    /* scrollbar-color: rgb(255, 168, 7) rgba(92, 63, 52, 0);
    scrollbar-width: thin; */
}

.unitInfo-Talents-Statuses {
    margin-top: 10px;
    position: relative;
    display: flex;
    gap: 1rem;
    /* background: rgba(229, 255, 0, 0.411); */
    height: 280px;
}

.unitInfo-Talents {
    padding: 7px;
    position: relative;

    /* background: rgba(255, 0, 0, 0.411); */
    width: 350px;

    /* scrollbar-color: rgb(255, 168, 7) rgba(92, 63, 52, 0);
    scrollbar-width: thin; */
}

.unitInfo-scroll {
    height: 80%;
    /* background: rgba(255, 0, 0, 0.411); */

    padding: 0;

    /* scrollbar-color: rgb(255, 168, 7) rgba(92, 63, 52, 0);
    scrollbar-width: thin; */
    position: relative;
}

.unitInfo-Statuses {
    padding: 7px;
    position: relative;

    /* background: rgba(0, 255, 115, 0.411); */
    width: 350px;
    
    /* scrollbar-color: rgb(255, 168, 7) rgba(92, 63, 52, 0);
    scrollbar-width: thin; */
}


.unitInfo-text{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 5px;
    margin: 0;
}

.unitInfo-text-heading1 {
    font-family: 'Raleway, sans-serif', Times, serif;
    font-size: 1.5em;
    margin-bottom: 5px;
}

.unitInfo-text-heading2 {
    font-family: 'Arial, sans-serif', Times, serif;
    font-size: 1.05em;
    margin: 0;
    font-weight: 600;
}

.unitInfo-text-desc {
    font-size: .925em;
    margin-left: 10px;
    line-height: 1.4;
}

.unitInfo-text-last{
    margin-bottom: 8px;
}

.unitInfo-tactic-group {
    position: absolute;
}

.unitInfo-tactic-group2 {
    position: relative;
    top: 2px;
}

.unitInfo-tactic-icon{
    height: 27.5px;
    margin: 0px 8px;
    filter: brightness(0%);
}

.unitInfo-tactic-icon2 {
    height: 19px;
    margin: 1.5px 1px 0px;
    filter: brightness(0%);
}

.unitInfo-tactic-mobilize {
    height: 27.5px;
    margin: 0px -15px 0px 8px;
    filter: brightness(0%);
}

.infoPopUp-tactic-group {
    position: relative;
    top: 4px;
    left: -6px;
}

.infoPopUp-tactic-icon {
    height: 35px;
    margin: 0px 8px;
    filter: brightness(0%);
}

.infoPopUp-list{
    position: relative;
    list-style-type: upper-alpha;
    margin: 2px;
    /* background-color: #b30000; */
}

.infoPopUp-list2 {
    position: relative;
    margin: 2px;
    /* background-color: #b30000; */
}