.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 500
}

.modal{
    padding: 30px;
    width: fit-content;
    /* max-width: 850px; */
    margin: 200px auto;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

.bountyHeader {
    justify-content: space-between;
}

.phaseSelection{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
    margin: 10px;
}

.choiceWithDescription{
    border: 2px solid;
    text-align: center;
    padding: 4px;
    width: 180px;
    cursor: pointer;
}

.choiceWithDescription:not(.disabledOption):hover {
    background: rgb(99, 192, 63)
}

.disabledOption{
    background-color: rgb(24, 21, 21);
    color: white;
    /* filter: grayscale(100%); */
    cursor: default;
}


.tactic{
    padding: 10px;
    height: 300px;
    width: 300px;
    margin: 10px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    filter: brightness(0.51) contrast(5.4) hue-rotate(20deg);
    /* hue-rotate(180deg) */
    background-color: #39426400;
    cursor: pointer;
}


.disabledTactic{
    filter: saturate(0) brightness(0.8);
    cursor: not-allowed;

}

.tacticBG {
    width: fit-content;
    margin: 0 5px 0 5px;
    height: fit-content;
    border: 2px solid;
    /* background-color: rgb(72, 64, 92); */
    background-image: linear-gradient(to right, rgb(112, 112, 112), rgb(255, 255, 255), rgb(112, 112, 112));

}

.disabledTacticBG {
    background-color: rgb(26, 26, 26);
    background-image: none;

}

.disabledOption:hover {
background: rgb(117, 13, 13)
}

.twoColumn{
    grid-template-columns: 1fr 1fr;
    display: grid;

}

.threeColumn {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;

}

.fourColumn {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
}

.scrollable{
    max-height: 550px;
    overflow-y: auto;
    width: fit-content;
    /* border: 2px solid; */
    padding: 9px;
}

.scrollable-y-only{
    overflow-x:hidden;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}