.select-skill{
    width: 180px;
    height: 252px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:flex-end;

    margin: 5px;
    padding: 0 auto;
    background-size: cover;
    background-position: center;

    border-radius: 10px;
}

.select-skill:not(.cannotUseSkill) {
    cursor: pointer;
}

.cannotUseSkill{
    filter: grayscale(90%);

}

.multiSelectCard{
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: rgb(197, 152, 37) solid 3px;
    /* background-color: rgb(216, 212, 212); */
background: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
        display: flex;
        flex-direction: column;
        justify-content: flex;
        align-items: center;


}

.multiSelectIndex{
    font-size: larger;
    color: rgb(255, 255, 255);
    position: absolute;
    /* top: 10px */
}

.player-hand-card {
    /* width: 120px;
    height: 168px; */
    width: 140px;
    height: 196px;

    cursor: pointer;

    background-size: cover;
    background-position: center;

    border-radius: 5px;

    background-color: green;
    border: 2px solid black;
    margin-right: 10px;

    /* transition: transform 0.2s ease; */
    position: relative;
    z-index: 1;    
}

.player-hand-card:nth-child(4n+1){
    transform: rotate(-5deg);
}
.player-hand-card:nth-child(4n+2) {
    transform: rotate(-2.5deg);
}
.player-hand-card:nth-child(4n+3) {
    transform: rotate(2.5deg);
}
.player-hand-card:nth-child(4n+4) {
    transform: rotate(5deg);
}

.player-hand-card:hover {
    
    top: -16.8px;
    filter: brightness(1.1);
    transform: scale(1.4);
    position: relative;
    z-index: 2;
}

.player-skillhand-container{
    /* max-width: 700px; */
    width: fit-content;
    /* min-height: 300px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(255, 0, 0, 0.466);
    cursor: pointer;
    padding: 5px;
    position: relative;
}


.player-skillhand-container:hover {
    position: relative;
    /* top: -150px; */
}

.player-avelhemHand-container {
    max-width: 700px;
    /* height: fit-content; */
    /* min-height: 300px; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: rgba(0, 255, 42, 0.466);
    cursor: pointer;
}

/* .player-avelhemHand-container:hover {
    position: relative;
    top: -150px;
} */