.select-skill{
    width: 180px;
    height: 252px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-end;
    margin: 5px;
    padding: 0 auto;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.select-skill:not(.cannotUseSkill) {
    cursor: pointer;
}

.cannotUseSkill{
    filter: grayscale(90%);
}


.select-skill-click {
    width: 180px;
    height: 252px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    padding: 0 auto;
    background-size: cover;
    background-position: center;
}

.multiSelectCard{
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: rgb(197, 152, 37) solid 3px;
    /* background-color: rgb(216, 212, 212); */
    background: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5px;

}

.multiSelectIndex{
    font-size: larger;
    color: rgb(255, 255, 255);
    position: absolute;
    /* top: 10px */
}

.player-hand-card {
    /* width: 120px;
    height: 168px; */
    width: 140px;
    height: 196px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    background-color: green;
    /* border: 2px solid black; */
    margin-right: 10px;
    transition: transform 0.4s ease;
    position: relative;
    z-index: 1;
    box-shadow: -5px 6px 10px 2px rgba(6, 21, 61, 0.7);
}

.player-hand-card:hover {
    filter: brightness(1.2);
    position: relative;

}

.indivSkill:nth-child(4n+1){
    transform: rotate(-5deg);
}
.indivSkill:nth-child(4n+2) {
    transform: rotate(-2.5deg);
}
.indivSkill-card:nth-child(4n+3) {
    transform: rotate(2.5deg);
}
.indivSkill:nth-child(4n+4) {
    transform: rotate(5deg);
}
.indivAvelhem:nth-child(2n+1) {
    transform: rotate(-5deg);
}
.indivAvelhem:nth-child(2n+2) {
    transform: rotate(5deg);
}


.enlargable:hover {
    top: -16.8px;
    /* filter: brightness(1.1); */
    transform: scale(1.4);
    /* position: relative; */
    z-index: 2;
}

.player-skillhand-container{
    /* max-width: 700px; */
    width: 420px;
    height: 400px;
    /* min-height: 300px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* background-color: rgba(69, 119, 185, 0.589); */
    cursor: pointer;
    padding: 0px 15px 0px 5px;
    position: relative;
    transition: transform 0.6s ease-out;
}

.player-avelhemhand-container {
    /* max-width: 700px; */
    width: 225px;
    height: 400px;
    /* min-height: 300px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: rgba(69, 119, 185, 0.589); */
    cursor: pointer;
    padding: 0px 15px 0px 5px;
    position: relative;
    transition: transform 0.6s ease-out;
}


.player-avelhemhand-container2 {
    /* max-width: 700px; */
    width: 450px;
        height: 400px;
    /* min-height: 300px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(95, 233, 226, 0.589);
    cursor: pointer;
    padding: 5px;
    position: relative;
}

.player-avelhemhand-container:hover {
    position: relative;
    /* top: -150px; */
}

.collapse{
    background: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
    border-radius: 100%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    /* margin-left: auto; */
    position: relative;
    z-index: 3;
}

.collapseIcon{
    object-fit: cover;
    height: 25px;
}

.collapse:hover{
    filter: brightness(1.2)
}

.mainSkillHand{
    display: grid;
    height: 0px;
    
}


.enemy-skillhand-container {
    position: relative;
    top: 15px
}


.enemy-hand-container {
    width: 420px;
    height: 400px;
    /* min-height: 300px; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* background-color: rgba(69, 119, 185, 0.589); */
    padding: 0px 15px 0px 5px;
    position: relative;
    transition: transform 0.6s ease-out;
}



.enemy-hand-card {
    width: 110px;
    height: 154px;

    /* cursor: pointer; */
    background-size: cover;
    background-position: center;

    border-radius: 5px;
    background-color: rgb(0, 0, 0);

    /* transition: transform 0.4s ease; */
    position: absolute;
    box-shadow: -0px 2px 12px 3px rgba(5, 9, 20, 0.7);
}


.enemy-hand-label {
    width: 250px;
    height: 30px;

    /* cursor: pointer; */

    background-color: rgba(0, 0, 0,0.75);
    color: white;

    transition: transform 0.4s ease;
    position: absolute;
    box-shadow: -0px 2px 12px 3px rgba(5, 9, 20, 0.7);
    display: flex;
    justify-content: center;
}




/* ................... */

.handModal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 501
}


.handModal {
    padding: 30px;
        height: 650px;
        width: 740px;
        /* max-width: 850px; */
        margin: 100px auto;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
    display: flex;
    justify-content: flex-end;
}


.selectedCardModal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: flex; */

}

.collapseSelected {
    background: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
    border-radius: 100%;
    height: 60px;
    width: 60px;
    cursor: pointer;
    position: absolute;
    z-index: 3;
    color: white;
    font-size: 45px;
    /* margin-left: auto; */

    box-shadow: 0 0 6px rgba(0, 0, 0, 0.95);


}

.collapseSelected:hover {
    filter: brightness(1.2)
}

.displayedAvelhem{
    background-size: cover;
    width: 450px;
    height: 630px;
    border-radius: 20px;
}


.pile-card-container{
    position: relative;
    /* top: -25px */
}

.pile-card {
    width: 90px;
    height: 126px;

    /* cursor: pointer; */
    background-size: cover;
    background-position: center;

    border-radius: 5px;
    background-color: rgb(0, 0, 0);

    position: absolute;
    box-shadow: 0px 0px 1px 1px rgba(5, 9, 20, 0.7);
}

.pile-label {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    /* cursor: pointer; */

    background: linear-gradient(to bottom, rgba(0, 0, 0,0.8), rgba(0, 0, 0, 0.70) 40%, rgba(0, 0, 0, 0)100%);

    /* background-color: rgba(0, 0, 0, 0.65); */
    color: white;
    font-size: 17px;

    position: absolute;
    /* box-shadow: -0px 2px 12px 3px rgba(5, 9, 20, 0.7); */
    display: flex;
    justify-content: center;
    /* top: -30px; */
    top: -30px;
    left: -2px;
    
    width: 94px;
    height: 35px;
}


.pile-enemy {
    transform: rotate(180deg);
}


.pile-floating{
    transform: rotate(90deg);
    box-shadow: 4px 0px 4px 2px rgba(5, 9, 20, 0.80);
}



.pile-vestige{
    /* scale: 0.85; */
    filter: grayscale(0.85);
}

.pile-vestige:hover {
    filter: grayscale(0.85) brightness(120%);
    cursor: pointer;
}

.pile-view-skill{
    width: 180px;
    height: 252px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 5px;
    padding: 0 auto;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

