.piece-body {
  /* background-color: #006deb; */
  pointer-events: none;
}

.normal-piece{
    position: relative;
    /* background-color: #005222; */
    display: flex;
    
}


.eliminated-piece{
  filter: grayscale(.45);
  animation: eliminationFade 1.1s ease infinite alternate;
  
}


@keyframes eliminationFade {

  0%,
  20% {
    opacity: 0.25;
  }

  80%,
  100% {
    opacity: 0.95;
  }
}

.afflictions-container {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: #92ffc0; */
  pointer-events: none;
}

.piece {
  
  width: 60px;
  height: 60px;
  border: 3px solid black;
  border-radius: 100%;
  color: rgb(49, 109, 31);
  position: relative;
  box-shadow: 0px 0px 2px 1.5px rgba(0, 0, 0, 0.5);
  scale: 0.85;
  cursor: pointer;
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.piece:hover {
  scale: 0.975;
  /* scale: 1; */
  filter: brightness(1.05)
}

.pieceScionClass {
  object-fit: cover;
  width: 46px;
  height: 46px;
  position: absolute;
  z-index: 3;
  border-radius: 100%;

  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.40);
}

.ascension {
  background-color: #e8e8e8;
  animation: ascend 3.75s ;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
  z-index: 40;

}

@keyframes ascend {
  0% {
    scale: 0.2;
    opacity: 0;
  }
  10% {
    scale: 2.5;
    opacity: 1;
  }

  100% {
    scale: 0.4;
    opacity: 0;
    background-color: var(--ascension-color);
  }
}

.host {
  /* background: linear-gradient(25deg, #a0782e, #eebb5b, #ffedbb); */
  background: linear-gradient(25deg, #b68834, #f5bf5a, #ffffff);
}

.guest {
  background: linear-gradient(25deg, #0c0c0c, #635c5c, #dbd2d2);
}

.pieceOption {
  width: 25px;
  height: 25px;
  border: 2px solid rgb(252, 200, 31);

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.85);

  /*diamond shape*/
  transform: rotate(45deg);

  /* background-color: rgb(255, 255, 255); */
  background: linear-gradient(
    to right,
    rgb(151, 8, 11),
    rgb(221, 35, 38) 60%,
    rgb(255, 90, 93) 100%
  );
  color: #e8e8e8;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  font-size: small;
}

.pieceOption:hover {
  background-color: rgb(252, 247, 180);
  cursor: pointer;
  scale: 1.5;
}

.burn {
  z-index: 297;
  height: 75px;
  width: 70px;
  position: absolute;
  pointer-events: none;
  top: -5px;
  left: 0.5px;
  opacity: 0.8;
}

.frost {
  /* z-index: 397; */
  z-index: 4;
  top: -3.5px;
  left: -6px;
  height: 79.5px;
  width: 79.5px;
  position: absolute;
  pointer-events: none;
  opacity: 0.85;
  rotate: -10deg;
  filter: saturate(5.5);
}

.frost-1 {
  animation: frostfadeInOut 2.5s ease infinite alternate;
}

@keyframes frostfadeInOut {
  0%,
  25% {
    opacity: 0;
  }
  80%,
  100% {
    opacity: 0.95;
  }
}


@keyframes frostfadeInOut2 {
  0%,
  20% {
    opacity: 0.25;
  }

  80%,
  100% {
    opacity: 0.95;
  }
}

@keyframes fadeInOut2 {
  0%,
  10% {
    opacity: 0.05;
  }

  60%,
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    /* Start rotation from 0 degrees */
  }

  to {
    transform: rotate(360deg);
    /* End rotation at 360 degrees */
  }
}


.fade-in-out {
  animation: fadeInOut 1s ease-in-out infinite alternate;
}

@keyframes fadeInOut {
  0% {
    opacity: 0.325;
  }
  80%,
  100% {
    opacity: 1;
  }
}


.bottomAttributeContainer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20px;
  /* background-color: #006eeb85; */
  transform: translateY(20%);
}

.hp {
  position: absolute;
  height: 20px;
  width: 20px;
  left: -1.5%;
  /* background-color: #00ffaa; */
  animation: scaleAnimation 1s ease-in-out infinite alternate;
}

.hPIcon {
  height: 100%;
  position: absolute;
  z-index: 399;
  pointer-events: none;
  left: 0%;
  filter: brightness(1.15) contrast(1.3);
}

.hP-amount {
  color: #e8e8e8;
  font-size: 0.60em;
  font-weight: 500;
  left: 50%;
  transform: translate(-50%);
  
  
}

.aether {
  position: relative;
  left: 50%;
  animation: aetherGain 1.25s ease-out;
}

@keyframes aetherGain {
  0%
  {
    scale: 3.5;
    top: -20px;
    opacity: 0;
  }
  90% {
    scale: 1;
    top: 0;
    opacity: 0.9;
  }
  100% {
    scale: 1;
    top: 0;
    opacity: 1;
  }
}

.aetherIcon {
  height: 25px;
  position: absolute;
  z-index: 398;
  pointer-events: none;
  translate: -50%;
  animation: aetherGlow 2.75s ease-in-out infinite alternate;
  /* animation: scaleAnimation 1s ease-in-out infinite alternate; */
}

@keyframes aetherGlow {

  0%,
  100% {
    filter: brightness(0.95);
    scale: 0.95
  }

  50% {
    filter: brightness(2.5);
    scale: 1
  }
}

.shieldAndWardContainer {
  position: absolute;
  height: 30px;
  width: 20px;
  right: -5%;
  top: -20%;
  /* background-color: #00ffaa; */
  /* animation: scaleAnimation 1s ease-in-out infinite alternate; */
}

.shieldAndWard {
  height: 30px;
  position: absolute;
  pointer-events: none;
  animation: aetherGain 1.25s;
}

@keyframes scaleAnimation {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.glow {
  width: 40px;
  height: 40px;
  border: 4px solid rgb(255, 227, 67);
  border-radius: 100%;
  /* background-color: transparent; */
  background-color: rgb(255, 227, 67, 0.45);
  /* transition: all 1.5s ease; */
  position: absolute;

  pointer-events: none;
}

.glow.animating {
  animation: expand-contract 2.2s linear infinite;
}

@keyframes expand-contract {
  0% {
    /* width: 50px;
        height: 50px; */
    opacity: 0.9;
    transform: scale(0.8);
  }
  50% {
    opacity: 0.75;
    transform: scale(1.9);
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}


.deployImpact {
  
  width: 55px;
  height: 55px;
  border: 4.5px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 100%;
  opacity: 0%;
  position: absolute;
  z-index: -1;

  animation: deployImpactAnimation 2.0s ease-out ;
  
}

@keyframes deployImpactAnimation {
  0%, 35% {
    opacity: 100%;
  }

  36% {
    transform: scale(0.99);
    opacity: 100%;
  }

  80% {
    opacity: 20%;

  }

  100% {
    transform: scale(3.0);
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.25);
  }


}

.anathema-aura {
  width: 60px;
  height: 60px;
  top: -3px;
  left: -3px;

  border: 3px solid rgb(0, 0, 0, 0);
  border-radius: 100%;
  position: absolute;

  overflow: hidden;
}

.cascade-line {
  position: absolute;
  left: -5px;
  width: 120%;
  height: 200px;
  /* background: linear-gradient(to bottom, rgba(75, 0, 0,0.5), rgb(75, 0, 0)); */
  background: linear-gradient(
    to bottom,
    rgba(46, 32, 145, 0.1),
    rgba(46, 32, 145, 0.25) 50%,
    rgba(121, 0, 111, 0.95) 95%,
    rgba(0, 0, 0, 1) 100%
  );
  animation: cascadeAnimation 2s linear infinite;
}

@keyframes cascadeAnimation {
  0% {
    top: -220px;
  }
  100% {
    top: 0px;
  }
}

.cascade-line2 {
  position: absolute;
  left: -5px;
  width: 120%;
  height: 80px;
  background: rgba(46, 32, 145, 0.1);
  animation: cascadeAnimation2 2s linear infinite;
}

@keyframes cascadeAnimation2 {
  0% {
    top: -20px;
  }
  100% {
    top: 200px;
  }
}

.cascade-line3 {
  position: absolute;
  left: -5px;
  width: 120%;
  height: 40px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 100%
  );
  animation: cascadeAnimation3 2s linear infinite;
}

@keyframes cascadeAnimation3 {
  0% {
    top: -40px;
  }
  100% {
    top: 180px;
  }
}

.ravager-line {
  position: absolute;
  left: -5px;
  width: 120%;
  height: 250px;
  top: 65px;

  background: linear-gradient(
    to bottom,
    rgb(197, 39, 0),
    rgba(129, 0, 0, 0.95) 5%,
    rgba(129, 0, 0, 0.1) 50%,
    rgba(129, 0, 0, 0.1) 100%
  );
  animation: ravagerAnimation 2s linear infinite;
}

@keyframes ravagerAnimation {
  0% {
    top: 65px;
  }
  100% {
    top: -155px;
  }
}

.ravager-line2 {
  position: absolute;
  left: -5px;
  width: 120%;
  height: 80px;
  background: rgba(129, 0, 0, 0.1);
  animation: ravagerAnimation2 2s linear infinite;
}

@keyframes ravagerAnimation2 {
  0% {
    top: -15px;
  }
  100% {
    top: -235px;
  }
}

.blink {
  animation: fadeInOut 2s infinite alternate;
}

.attributeContainer {
  position: absolute;
  animation: moveUpDown 0.95s ease-in-out infinite;
  display: flex;
  flex-direction: row;
  width: 100%;
  pointer-events: none;
  /* background-color: #006deb; */
}

.attribute {
  border: 0.5px solid #000000de;
  height: 7.5px;
  width: 7.5px;
  position: absolute;
  pointer-events: none;
  z-index: 50;
}

.ember {
  background: linear-gradient(22deg,
      #ff0b03,
      #ff0b03,
      #dd1e17,
      #ff8b1e,
      #ffc1a4,
      #ffb0b0);
}

.torrent {
  background: linear-gradient(22deg,
      #03afff,
      #006deb,
      #2ea1ff,
      #60a0ff,
      #b2d3ff,
      #f4fbff);
}


.cyclone {
  background: linear-gradient(22deg,
      #005222,
      #00911f,
      #18ca5d,
      #39e271,
      #8dfdb2,
      #d8ffd8);
}

.leyline {
  background: linear-gradient(22deg,
      #502000,
      #7e3707,
      #b1500f,
      #d3641a,
      #e97b31,
      #d8ffd8);
}

.charge {
  background: linear-gradient(22deg,
      #6e6700,
      #9b9000,
      #ddcf08,
      #ccbe00,
      #fff241,
      #fff894);
}

.ambiance {
  background: linear-gradient(22deg,
      #03eeff,
      #03e2ff,
      #03e2ff,
      #78f1eb,
      #cbecff,
      #f0fcff);
}

.sharpness {
  background: linear-gradient(22deg,
      #290029,
      #5e0066,
      #7f058a,
      #ffdefb,
      #b208d4,
      #490150);
}

.blossom {
  background: linear-gradient(22deg,
      #7a137e,
      #971e9b,
      #d138d6,
      #fa69ff,
      #f7deff,
      #fcdbff);
}

.devotion {
  background: linear-gradient(22deg,
      #00001d,
        #0a0c8d,
        #2c29cc,
        #e9a33a,
        #cfa311,
        #f9ffa0);
}

.pheromone {
  background: linear-gradient(22deg,
      #cf02c5,
      #ac0d84,
      #5a0d7e,
      #64147c,
      #dc2fe2,
      #e09de2);
}


@keyframes moveUpDown {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: 2.5px;
  }
}

.blue-tint {
  filter: hue-rotate(180deg);
}

.black-tint {
  filter: grayscale(95%);
}

.ambidexterity {
  z-index: 3000;
  height: 65px;
  width: 85px;
  position: absolute;
  pointer-events: none;
  top: 0px;
  left: -9px;

  animation: ambidex 2.2s ease-in-out infinite;
  pointer-events: none;
}

@keyframes ambidex {
  0%,
  100% {
    top: 0;
  }

  40%,
  50%,
  60% {
    top: -10px;
    opacity: 10%;
  }
}

.rooted {
  top: -8px;
  left: -10px;
  width: 80px;
  height: 74px;
  position: absolute;
  z-index: 4;
  opacity: 0.75;
}

.crosshair {
  z-index: 700;
  position: absolute;
  pointer-events: none;
  top: -20px;
  left: -17.5px;
  scale: 1.05;
  opacity: 0.55;
  animation: crosshairAnimation 2.2s ease-in-out infinite alternate;

 /* filter: sepia(1) saturate(10000%) hue-rotate(-275deg); */
filter: sepia(1) saturate(10000%) hue-rotate(-30deg);
}

@keyframes crosshairAnimation {
  0%,
  100% {
    opacity: 0.45;
  }

  45%,
  50%,
  55% {
    opacity: 0.85;
    top: -17.5px;
  }
}

.star-container{

  width: 100%;
  height: 100%;
  background-color: #006eeb17;
  position: absolute;
  z-index: 1100;

  transform-origin: center;
  animation: starspin 3.0s linear infinite;

}

@keyframes starspin {
  0% {
    transform: rotate(0deg) scale(1.2);
  }

  50% {
    transform: rotate(180deg) scale(1.2);
  }

  100% {
    transform: rotate(360deg) scale(1.2);
  }
}


.star-container-2 {
  animation: starspinpulse 3.35s linear infinite;
}

@keyframes starspinpulse {
  0% {
    transform: rotate(0deg) scale(0.6);
  }

  50% {
    transform: rotate(180deg) scale(1.4);
  }

  100% {
    transform: rotate(360deg) scale(0.6);
  }
}


.star {
  width: 22px;
  height: 22px;
  background-color: #ffaf02f3;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}


.star-1{
  transform: translate(-50%,0%);
  left: 50%;
  position: relative;
}


.star-2 {
  transform: translate(0%, 50%);
  left: 0%;
  position: absolute;
}

.star-3 {
  transform: translate(50%, 50%);
  left: 50%;
  position: absolute;
}






/* //////////////////*/



@media screen and (max-width: 1070px) {
.pieceOption {
    scale: 1.4;
  }

  .pieceOption:hover {
    scale: 2.1;
  }
}


