.create-game-body{
    height: 100%;
    min-height: fit-content;
    /* max-height: 1800px; */
    background-size: cover;
    background-position: top;

    /* background: aqua;  */
}

.create-game-header{
    padding-top: 10px;
    height: 80px;

    text-align: center;
    font-family: Alegreya, Geogia, Times New Roman, "serif";
    font-size: 4.5rem;
    font-weight: 600;
    color: goldenrod;

    -webkit-text-stroke: 1.25px #fdd700;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;


    /* background-color: rgb(204, 0, 255) */
    
}

.create-game-content {
    display: flex;
    /* min-height: 1200px; */
    /* height: calc(100vh - 65px - 90px); */
    /* background-color: #333; */
    /* background-color: goldenrod; */
    padding: 30px;

    /* background-color: rgb(0, 255, 64) */
}



.create-game-elemental, .create-game-soon{
    /* height: calc(100% - 30px); */
    /* min-height: 1200px; */
    height: 750px;
    width: 50%;

    position: relative;
    display: flex;

    flex-direction: column;

    background-size: cover;
    background-position: center;


    border: 12px groove rgb(236, 180, 36);
    box-shadow: 4px 4px 15px 4px rgba(0, 0, 0, 0.45);

    /* background-color: brown; */
}

.create-game-elemental{
    margin-right: 15px;
}

.create-game-elemental:hover{
    cursor: pointer;
    filter:brightness(1.10)
}

.create-game-soon {
    background-color: rgb(0, 0, 0);
    margin-left: 15px;
}

.create-game-fadingbanners{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center; 
}

.banner-slide{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;

    transition: opacity 1.75s ease-out;
    filter: saturate(0.95)
}

.create-game-banner-text{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.create-game-title{
    text-align: center;
    color: #e8e8e8;
    /* font-size: 4.5rem; */
    font-size: 4.0rem;
    font-family: "Times New Roman", Times, serif;
    padding-top: 20px;
    user-select: none;

    text-shadow: rgb(0, 0, 0) 1px 0 5px;
    -webkit-text-stroke: 1.25px #000000;


    background: linear-gradient(to top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.45) 80%,
                rgba(0, 0, 0, 0.5) 100%);

/* background-color: aqua; */

}

.create-game-desc {
    text-align: center;
    color: #e8e8e8;
    font-size: 2.5rem;
    margin-top: auto;
    padding-top: 20px;
    user-select: none;

    height: 220px;
    
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.75) 30%,
        rgba(0, 0, 0, 0.95) 100%);
}


/* ////////////////////////////////////// */


@media screen and (max-width: 1030px) {
    .create-game-content {
        flex-direction: column;
        align-items: center;
        height: fit-content;
        /* background-color: aqua; */
    }

    .create-game-elemental, .create-game-soon {
        margin-left: 0;
        margin-right: 0;
        width: 80%;
        height: 500px;
        border: 6px groove rgb(236, 180, 36);
    }

    .create-game-elemental{
        margin-bottom: 20px;
    }

    .create-game-title {
        font-size: 3.15rem;
        padding-top: 5px;
        -webkit-text-stroke: 1.0px #000000;
    }


    .create-game-desc {
        font-size: 1.8rem;
        padding-top: 5px;
        user-select: none;
        height: 150px;
    }

}

@media screen and (max-width: 550px) {

    .create-game-header{
        font-size: 2.5rem;
    }

    .create-game-content {
        padding: 0;
    }



    .create-game-elemental,
    .create-game-soon {
        margin: 10px auto;
        height: 275px;
        width: 90vw;
        border: 6px groove rgb(247, 195, 63);
    }

    .create-game-elemental {
        margin-bottom: 10px;
    }

    .create-game-title {
        font-size: 2.1rem;
        color: rgb(236, 236, 236);
        -webkit-text-stroke: 0.85px rgb(0, 0, 0);
        /* text-shadow: #000000; */

        /* background: linear-gradient(to top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.45) 80%,
                        rgba(0, 0, 0, 0.5) 100%); */
            
    }


    .create-game-desc {
        font-size: 1.2rem;
        padding: 5px;
        user-select: none;
        height: 75px;
        
    }

}