.demo-body {
    /* background-color: rgb(252, 163, 163); */
    /* height: 1050px; */
    min-height: fit-content;

}


.demo-header{
    color: #e8e8e8;
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.demo-board{
    /* background-color: rgb(255, 202, 202); */
    /* min-height: 1000px; */
    height: 1060px;
    /* min-height: 1000px; */


}

.demo-switch-button {
    position: absolute;
    top: 1035px;
    left: 156px;
    /* margin-bottom: 300px; */
    margin: 0px;
}

.demo-instructions{
    position: absolute;
    top: 365px;
    left: 750px;

    margin: 0px;
    padding: 10px;
    padding-bottom: 20px;

    height: 140px;
    width: 600px;

    border: 4px solid goldenrod;
    background-color: rgba(0, 0, 0, 0.90);

    /* color: #e8e8e8; */
    color: rgb(255, 210, 95);
    font-family: Arial, sans-serif;
    font-size: 21px;
    letter-spacing: 0.02em;
    line-height: 120%;
}


.demo-instructions-button{

    position: absolute;
    top: 550px;
    left: 1279px;
    margin: 0px;


}