.demo-body {
    /* background-color: rgb(252, 163, 163); */
    /* height: 1050px; */
    min-height: fit-content;

}


.demo-header{
    color: white;
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.demo-board{
    /* background-color: rgb(255, 202, 202); */
    /* min-height: 1000px; */
    height: 1060px;
    /* min-height: 1000px; */


}

.demo-switch-button {
    position: absolute;
    top: 1065px;
    left: 145px;
    /* margin-bottom: 300px; */
    margin: 0px;
}