.game-body {
    user-select: none;
    background-size: cover;
    background-position: center;
    min-height: 1140px;
    padding: 45px 0px 0px;
    scale: 1.0;
    overflow: auto;
}


.game-banner {
    margin: 80px auto 20px;
    background-color: #333;
    height: 650px;
    width: 1040px;
    border: 7px ridge rgb(236, 180, 36);
    background-size: cover;
    background-position: center;
    box-shadow: 4px 4px 15px 4px rgba(0, 0, 0, 0.45);    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
 }

.game-banner-backdrop {
    height: 100%;
    width: 50%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.0),
            rgba(0, 0, 0, 0.40) 50%, rgba(0, 0, 0, 0.90) 100%);
    margin-right: auto;
    color: white;
    display: flex;
    flex-direction: column;

    /* background-color: rgb(0, 255, 128); */
}

.game-banner-title {
    font-size: 70px;
    font-family: Alegreya, Georgia, Times New Roman, "serif";
    text-align: center;
    padding-top: 20px;
        text-shadow: rgb(0, 0, 0) 1px 0 2px;
    -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.75);  
}

.game-banner-text-body{
    margin-top: auto;
    margin-bottom: 10%;
}

.game-banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

.game-banner-expansion {
    margin-bottom: 35px;
    font-size: 55px;
    font-family: Alegreya, Georgia, Times New Roman, "serif";
    text-shadow: rgb(0, 0, 0) 2px 0 4px;
    font-weight: 600;
    color: goldenrod;
}

.game-banner-button {
    font-size: 2.0rem;
    padding: 8px;
    color: white;
    background-image: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
    cursor: pointer;
    border-radius: 8px;
    border: 3px solid rgb(247, 200, 84);
    min-width: 195px;
}

.game-banner-button:hover {
    color: rgb(255, 207, 86);
    filter: brightness(1.2);
}


.board-data {
    position: absolute;
    box-sizing: border-box;
       max-width: 1500px;
    width: 100%;
    bottom: 0;
    justify-items: flex-end;
    margin-bottom: 0;
    color: #eee;
    padding: 20px 105px;
    font-family: 'Merriweather', serif;
    font-size: 28px;
    background: linear-gradient(to top, rgb(14, 14, 14), rgba(0, 0, 0, 0) 180%);
    /* margin-top: auto; */
    min-height: 180px;
}