.home-body{
    height: 100%;
    width: 100%;
    user-select: none;

    /* background-color: rgb(94, 0, 0); */
}

.home-content{
    display: flex;
    flex-direction: column;

    background-color: bisque;
}

.home-banner{
    margin: 20px auto;
    background-color: aqua;
    height: 650px;
    width: 1040px;

    border: 8px groove rgb(236, 180, 36);

        background-size: cover;
            background-position: center;
}

.home-banner-backdrop{
    height: 100%;
    width: 50%;
    background: linear-gradient(to left, rgba(0, 0, 0,0.0),
    rgba(0, 0, 0,0.70) 50%, rgba(0, 0, 0, 0.90) 100%);
    margin-right: auto;
    color: white;

    display: flex;
    flex-direction: column;

        /* background-color: rgba(0, 0, 0, 0.50); */
}


.home-banner-title{
    /* background-color: aqua; */

    width: 400px;
    font-size: 3.1rem;
    /* font-family: 'Arial', sans-serif; */
    font-family: Alegreya, Geogia, Times New Roman, "serif";
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
    padding-top: 10px;
    margin-bottom: 20px;



    -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.75)

}

.home-banner-text{
    /* background-color: aqua; */
    height: 100%;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

    /* padding-left: 80px; */
}

.home-banner-button{
        font-size: 1.25rem;
        padding: 8px;
        color: white;

        background-image: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
        
        cursor: pointer;
        
        border-radius: 8px;
        border: 3px solid rgb(247, 200, 84);
        min-width: 195px;
}

.home-banner-button:hover {
    
    color: rgb(255, 207, 86);
    filter: brightness(1.2);
}