.home-body{
    height: 100%;
    /* min-height: fit-content; */
    user-select: none;
    /* background-color: rgb(94, 0, 0); */
}

.home-title{
    padding-top: 35px;
    text-align: center;
}

.home-content{
    height: fit-content;
    min-height: calc(100vh - 65px - 00px);

    max-width: 1500px;
    position: relative;
    display: flex;
    flex-direction: column;

    background-size: cover;
    background-position: center;

    /* background: aqua; */
}

.home-banner{
    margin: 20px auto;
    background-color: #333;
    height: 650px;
    width: 1040px;
    border: 7px ridge rgb(236, 180, 36);
    background-size: cover;
    background-position: center;
    box-shadow: 4px 4px 15px 4px rgba(0, 0, 0, 0.45);
}

.home-banner-backdrop{
    height: 100%;
    width: 50%;
    background: linear-gradient(to left, rgba(0, 0, 0,0.0),
    rgba(0, 0, 0,0.70) 50%, rgba(0, 0, 0, 0.90) 100%);
    margin-right: auto;
    color: white;

    display: flex;
    flex-direction: column;

        /* background-color: rgba(0, 0, 0, 0.50); */
}


.home-banner-title{
    /* background-color: aqua; */
    width: 455px;
    font-size: 50px;
    font-family: Alegreya, Georgia, Times New Roman, "serif";
    text-align: center;
    
    padding-top: 20px;
    margin-bottom: 20px;


    text-shadow: rgb(0, 0, 0) 1px 0 2px;
    -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.95);

}

.home-banner-text-body{
    margin-top: 5%;
    height: 25%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    /* background-color: aqua; */
}

.home-banner-text{
    /* background-color: rgb(0, 255, 128); */

    width: 455px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    /* padding-left: 80px; */
}

.home-banner-button{
        font-size: 1.25rem;
        padding: 8px;
        color: white;

        background-image: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
        
        cursor: pointer;
        
        border-radius: 8px;
        border: 3px solid rgb(247, 200, 84);
        min-width: 195px;
}

.home-banner-button:hover {
    
    color: rgb(255, 207, 86);
    filter: brightness(1.2);
}


/* /////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 501px) and (max-width: 1030px) {

    .home-banner {
        /* margin: 0px;
        scale: 0.75; */

        width: 90vw;
    }
    
}

@media screen and (max-width: 850px) {
    .home-title {
        padding-top: 45px;
    }

    .page-title {
        height: 65px;
    }

}




@media screen and (max-width: 500px) {


    .home-banner {
        margin: 10px auto;
        height: 275px;
        width: 90vw;
        border: 6px ridge rgb(236, 180, 36);
        
    }

    .home-banner-backdrop {
        width: 100%;
        background: linear-gradient(to left, rgba(0, 0, 0, 0.0),
        rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.80) 120%);
    }


    .home-banner-title {
        width: 100%;
        font-size: 35px;
        text-align: center;
        padding-top: 0px;
        margin-bottom: 10px;
        -webkit-text-stroke: 1.0px rgba(0, 0, 0, 0.75);

    }

    .home-banner-text-body {
        margin-top: 35%;
        height: 30%;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* background-color: aqua; */
    }

    .home-banner-text {
        /* height: 100%; */
        width: 100%;
        justify-content: start;
        align-items: end;

        /* background-color: aqua; */
    }

    .home-banner-button {
        font-size: 12px;
        padding: 4px;
        border-radius: 6px;
        border: 2px solid rgb(247, 200, 84);
        min-width: 135px;
    }


}

@media screen and (max-width: 450px) {
    .page-title {
        height: 45px;
    }

}
