.repertoires-body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    min-height: 90vh;

    width: 100vw;
    /* max-width: 1500px */
    /* min-width: 1500px; */

    overflow: scroll;
}


.repertoire-box {
    background: #fff;
    color: #333;
    /* padding: 20px; */
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    position: relative;
    width: fit-content
}


.repertoire-frame {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);

    /* align-items: center; */
    /* vertical alignment */
    /* justify-content: space-between; */
    /* horizontal alignment */
    display: flex;
    flex-direction: column;
}


.repertoire-text {
    padding: 10px 15px;
    color: white;
    font-family: Arial, sans-serif;
    /* pointer-events: none; */
}

.repertoire-name h3{
    padding: 5px;
    font-size: 30px;
    height: 68px;
    max-width: 220px;
    width: auto;
    /* overflow-wrap: break-word; */
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 25px;
}

.repertoire-desc {
    font-size: 24px;
    flex-grow: 1;
    overflow-wrap: break-word;
    scrollbar-color: rgb(255, 168, 7) rgba(92, 63, 52, 0);
    scrollbar-width: thin
}

.repertoire-link{
    text-decoration: none;
}