.repertoires-body {
    min-height: calc(100vh - 65px);

    display: flex;
    align-items: center;
    justify-content: center;

    // background-color: rgb(90, 0, 0);

    background: linear-gradient(to bottom,
        rgb(190, 189, 189) 0%,
        rgb(224, 217, 217) 20%,
        rgb(211, 205, 205) 40%,
        rgb(187, 184, 184) 60%,
        rgb(160, 157, 157) 80%,
        rgb(114, 111, 111) 100%);
    
}

.repertoires-content {
    // background-color: blue;
    display: flex;
}


.black-border{
    border: 4px solid rgba(0, 0, 0, 1);
    margin: 10px;
    padding: 0;
}


.repertoire-frame {
    height: 400px;
    width: 250px;
    margin: 0;
    
    display: flex;
    flex-direction: column;

    text-align: center;
    color: #e8e8e8;

    background: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
    border: 7px groove rgb(236, 180, 36);
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.75);
}

.repertoire-frame:hover {
    filter:brightness(1.2)
}

.repertoire-text {
    padding: 10px 15px;
    font-family: Arial, sans-serif;
}

.repertoire-name{
    padding: 10px 15px;
    font-size: 35px;
    height: 25%;

    font-family: "Times New Roman", Times, serif;
        
    text-overflow: ellipsis;
    overflow: hidden;
    // margin-bottom: 25px;

    // background-color: rgb(52, 136, 136);
}

.repertoire-desc {
    height: 60%;
    font-size: 24px;

    padding: 0px 10px 10px;
    
    overflow-wrap: break-word;
    scrollbar-color: rgb(255, 168, 7) rgba(92, 63, 52, 0);
    scrollbar-width: thin;
    overflow: hidden;
    overflow-y: scroll;
}

.repertoire-link{
    text-decoration: none;
}

.repertoire-box {
    background: #fff;
    color: #333;
    /* padding: 20px; */
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    position: relative;
    width: fit-content
}




/* /////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 1030px) {

    .repertoires-content {
        flex-direction: column;
    }
    

    .repertoire-frame{
        width: 80vw;
        height: 200px;
        border: 5px groove rgb(236, 180, 36);
    }

    .repertoire-text {
        padding: 5px 10px;
    }

    .repertoire-name {
        height: 45%;
        
        font-size: 30px;
    }

    .repertoire-desc{
        font-size: 22px;

        // display: none;
    }

}