
.board-body {
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.board-contents{
    display: flex;
    flex-direction: column;
}

.board-physical {
    position: relative;
    display: flex;
    user-select: none;
    overflow: hidden;
    height: 100%;
    max-width: 100vw;
}

.board-space-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%) scale(0.875);
    transform-origin: center;
    overflow: hidden;
    border: 8px ridge goldenrod;
    padding: 0;

}

.board-space {
    display: flex;
    align-items: center;
    height: 890px;
    width: 1450px;
    overflow: hidden;  
    background: linear-gradient(to bottom, rgba(85, 84, 84, 0.65), rgba(116, 116, 116, 0.7) 35%, rgba(230, 223, 223, 0.55) 100%);
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.5);

    animation: turnFadeIn 1.25s linear;
}


.board-space-your-glow, .board-space-enemy-glow{
    background: linear-gradient(to bottom, 
                    rgba(0, 255, 255, 0) 40%, 
                    rgba(0, 217, 255, 0.65) 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    // opacity: 0;
    animation: turnFadeIn 0.35s linear;    

}

.board-space-enemy-glow {
    background: linear-gradient(to top,
            rgba(0, 255, 255, 0) 25%,
            rgba(153, 10, 0, 0.75) 100%);

}

@keyframes turnFadeIn {
    0% {
        opacity: 0%;
    }
}


.board-left {
    height: 100%;
    width: 20%;
}

.board-left .board-left-buttons {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.board-left .contingency-settings {
    height: 10%;
    position: absolute;
    bottom: 0px;
}

.board-left .activated-card-display {
    height: 80%;
}

.board-spectating-label {
    color: rgb(255, 255, 241);
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.75);
    font-size: 28.5px;
    font-family: 'Merriweather', serif;
    text-align: center;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.5);

    border: goldenrod ridge 2.5px;
    background-color: rgba(0, 0, 0, 0.65);
    width: 250px;
    height: 145px;
    padding: 5px;
    margin-right: 20px;
}

.board-spectating-label .guestName {
    color: rgb(173, 170, 170);
    -webkit-text-stroke: 0.25px rgb(255, 255, 255);

}

.board-spectating-label .hostName {
    color: goldenrod;

}


.board-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
    /* background-color: aqua; */
}

.board-center .board-frame {
    border: 5.5px ridge goldenrod;
    height: fit-content;
    width: fit-content;
    position: relative;
    /* overflow: hidden; */
    background: linear-gradient(to bottom, rgba(133, 6, 9, 0.65), rgba(143, 22, 24, 0.45) 60%, rgba(255, 65, 68, 0.65) 100%);
    // background: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
    // background: linear-gradient(to bottom, rgb(177, 138, 12), rgb(226, 184, 45) 60%, rgb(240, 196, 52) 100%);
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.5);
    filter: brightness(1.05);
  
}

.board-center .board-frame-self {
    background: linear-gradient(to top, rgba(15, 91, 153, 0.60), rgba(85, 139, 189, 0.45) 70%, rgba(125, 178, 238, 0.55) 100%);
}


.board-right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;

    /* background-color: aqua; */
}

.board-right .hands-player {
    width: 100%;
    height: 20%;
    display: flex;
    grid-template-columns: 1fr 1fr;
    // background-color: #00640d
}

.board-right .hands-player .skill-hand {
    height: 100%;
    width: 480px;
    display: grid;
    /* margin: 0px 10px 0px 15px; */
    /* background-color: #5e0056; */
}

.board-right .hands-player .avel-hand {
    height: 100%;
    width: 290px;
    display: grid;
    /* margin: 0px 10px 0px 15px; */
    /* background-color: #00470f; */
}

.board-right .deck-and-dice-container {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #5e0056; */
}

.board-right .deck-and-dice-container .deck-container {
    height: 33%;
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(201, 201, 189); */
}

.board-right .deck-and-dice-container .deck-container .skill-container,
.board-right .deck-and-dice-container .deck-container .avel-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    // background-color: aqua;
}

.board-right .deck-and-dice-container .deck-container .skill-container .skill-container-item,
.board-right .deck-and-dice-container .deck-container .avel-container .avel-container-item {
    display: flex;
    align-items: end;
    height: 100%;
    margin: 0px 10px;
    /* background-color: #333; */
}

.board-right .deck-and-dice-container .deck-container .resource-points {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    // background-color: rgba(153, 205, 50, 0.308);
    margin: 35px 0;
}

.fd-counter,
.bp-counter {
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    border: 3px solid goldenrod;
    border-radius: 8px;
    // background-image: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
    background-image: linear-gradient(to bottom, rgba(151, 8, 10, 0.3), rgba(221, 35, 38, 0.5) 60%, rgba(255, 90, 93, 0.9) 100%);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.bp-counter:hover {
    filter: brightness(110%);
    background: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
}

.tacticSovereignContainer {
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0.43);
    width: 300px;
    height: 155px;
    padding: 1px;
    border-radius: 10px;
    border: 2.5px solid goldenrod;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.5);

    gap: 10px;
    padding: 5px;

}

.tacticSovereignWrapper{
    width: fit-content;
    height: fit-content;
    border-radius: 8px;

}

.tacticSovereignContainer-info {
    position: absolute;
    right: 10px;


}

.tacticSovereignDice {
    margin: 5px 10px;
}

.tacticSovereignBG:not(.disabledtacticSovereignBG):hover {
    filter: brightness(120%);
    background: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
}

.tacticSovereignBG {
    // margin: 0 5px 0 5px;
    width: fit-content;
    height: fit-content;
    border: goldenrod 3px solid;
    border-radius: 8px;
    /* background: linear-gradient(to bottom,
     rgba(151, 8, 1, 0.75), rgba(221, 35, 38, 0.85) 60%, 
     rgba(255, 90, 93, 0.75) 100%); */
    background: linear-gradient(to bottom, rgba(151, 8, 10, 0.3), rgba(221, 35, 38, 0.5) 60%, rgba(255, 90, 93, 0.9) 100%);
    box-shadow: 0px 0px 5.5px 3px rgba(2, 6, 15, 0.5);
}



.disabledtacticSovereignBG {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(19, 15, 15) 60%, rgb(44, 43, 43) 100%);
}

.tacticSovereign {
        height: 100px;
            width: 100px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    position: relative;
}

.tacticSovereignImage {
    height: 100px;
    width: 100px;
    padding: 0px;
    margin: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.tacticSovereignLabel {
    padding: 3.5px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    text-align: center;

    color: #e8e8e8;
}

.counter-flash{
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #e8e8e8;
}

.textFlash {
    animation: textWhiteFlash 1.25s;
    transition: background-color 1.25s ease;
}

@keyframes textWhiteFlash {
    0% {
        background-color: white;
    } 

    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.diceFlash {
    animation: diceWhiteFlash 1.25s;
    transition: background 1.25s ease;
}

@keyframes diceWhiteFlash {
    0% {
        filter: brightness(5);
        background: white;
    }

    100% {
        filter: brightness(1);
        background: rgba(255, 255, 255, 0);
    }
}

.board-right .deck-and-dice-container .deck-container .resource-points .bp-counter {
    cursor: pointer;
}

.board-right .deck-and-dice-container .deck-container .resource-points .bp-counter:hover {
    filter: brightness(120%);
}

.board-right .deck-and-dice-container .dice-container {
    height: 33%;
    width: auto;
    padding: 10px 5px 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eye-icon {
    height: 22px;
    filter: invert(100%);
    position: relative;
}

.question-icon0,
.question-icon,
.question-icon2 {
    height: 22px;
    fill: white;
    position: relative;
    cursor: help;
    border-radius: 100%;
}

.question-icon0 {
    height: 18px;
    fill: black;
    margin: 0 2px;
    cursor: default;
}

.question-icon2 {
    height: 28px;
    fill: black;
}

.question-icon3 {
    height: 17px;
    fill: goldenrod;
    cursor: default;
}

.question-icon:hover,
.question-icon2:hover {
    fill: rgb(72, 209, 30);
}


.optionIcon {
    transform: rotate(-45deg);
    display: flex;
    overflow: hidden;
}

.unitOptions {
    position: relative;
    height: 20px;
}


.board-piece {
    transition: top 0.5s ease, left 0.5s ease;
    animation: deploy 0.75s ease-in-out;
    position: absolute;
}

@keyframes deploy {
    0% {
        transform: scale(1.45);
        opacity: 90%;
        z-index: 500
    }

    65% {
        transform: scale(1.5) translateY(-47.5%);
        
    }

    95% {
        transform: translateY(10%);
        z-index: 500
    }

    100% {
        transform: scale(1);
        z-index: 1
    }
}

.crosshair-initial {
    transition: top 0.5s ease, left 0.5s ease;
    animation: crosshair-ani 0.75s ease-in-out;
}

@keyframes crosshair-ani {
    0% {
        transform: scale(1.45) translateY(-20%);
        opacity: 90%;
    }

    100% {
        transform: scale(1);
    }
}
//////////////////////////////////////////////////////////////


@media screen and (max-width: 1325px) {
    .board-body {
        height: 800px;
    }

    .board-space-wrapper {
        transform: translate(-50%, -50%) scale(0.80);
    } 
}

@media screen and (max-width: 1215px) {
    .board-body {
        height: 700px;
    }

    .board-space-wrapper {
        transform: translate(-50%, -50%) scale(0.7);
    }
}

@media screen and (max-width: 1070px) {
    .board-body {
        height: 550px;
    }

    .board-space-wrapper {
        transform: translate(-50%, -50%) scale(0.55);
    }
}

@media screen and (max-width: 830px) {
    .board-body {
        height: 400px;
    }

    .board-space-wrapper {
        transform: translate(-50%, -50%) scale(0.40);
    }
}

@media screen and (max-width: 610px) {
    .board-body {
        height: 250px;
    }

    .board-space-wrapper {
        transform: translate(-50%, -50%) scale(0.25);
    }
}

@media screen and (max-height: 420px) {
    .board-space-wrapper {
        transform: translate(-50%, -50%) scale(0.435);
    }
}


