
.board-body {
    width: 100%;
    display: flex;
    flex-direction: column;

    // background: aqua;


}

.board-contents{
    display: flex;
    flex-direction: column;
    // background-color: aquamarine;
}


.board-data {
    // position: absolute;
    bottom: 0;
    justify-items: flex-end;
    margin-bottom: 0;
    color: #eee;
    padding: 20px 105px;
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    background: linear-gradient(to top, rgb(14, 14, 14), rgba(0, 0, 0, 0) 180%);
    margin-top: auto;



   // background-color: aqua;



}


.board-physical {
    position: relative;
    display: flex;
    justify-content: center;
    user-select: none;
    // background-color: aqua;
}


.board-space {
    display: flex;
    align-items: center;
    border: 6px ridge goldenrod;
    height: 890px;
    width: 1450px;
    padding-top: 10px;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(31, 31, 31, 0.95), rgba(90, 90, 90, 0.95) 70%, rgba(141, 141, 141, 0.95) 100%);
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.5);
    scrollbar-color: rgb(255, 168, 7) rgba(92, 63, 52, 0);
    scrollbar-width: thin;

    transform: scale(0.875);
    // transition: background 0.5s ease;

    // background: aqua;
}

.board-space-turn {
    // background: linear-gradient(to bottom, rgb(85, 84, 84), rgb(116, 116, 116) 35%, rgb(230, 223, 223) 100%);
    background: linear-gradient(to bottom, rgba(85, 84, 84, 0.8), rgba(116, 116, 116, 0.8) 35%, rgba(230, 223, 223, 0.75) 100%);
}


.board-left {
    height: 100%;
    width: 20%;
    /* background-color: aqua; */
}

.board-left .board-left-buttons {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.board-left .contingency-settings {
    height: 10%;
    position: absolute;
    bottom: 0px;
}

.board-left .activated-card-display {
    height: 80%;
}

.board-spectating-label {
    color: rgb(255, 255, 241);
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.75);
    font-size: 28.5px;
    font-family: 'Merriweather', serif;
    text-align: center;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.5);

    border: goldenrod ridge 2.5px;
    background-color: rgba(0, 0, 0, 0.65);
    width: 250px;
    height: 145px;
    padding: 5px;
    margin-right: 20px;
}

.board-spectating-label .guestName {
    color: rgb(173, 170, 170);
    -webkit-text-stroke: 0.25px rgb(255, 255, 255);

}

.board-spectating-label .hostName {
    color: goldenrod;

}


.board-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
    /* background-color: aqua; */
}

.board-center .board-frame {
    border: 3.5px ridge goldenrod;
    height: fit-content;
    width: fit-content;
    position: relative;
    /* overflow: hidden; */
    background: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.5);
    filter: brightness(1.05);
}

.board-center .board-frame-enemy {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(19, 15, 15) 60%, rgb(44, 43, 43) 100%);
    filter: brightness(1.00);
}


.board-right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;

    /* background-color: aqua; */
}

.board-right .hands-player {
    width: 100%;
    height: 20%;
    display: flex;
    grid-template-columns: 1fr 1fr;
    /* background-color: #00640d; */
}

.board-right .hands-player .skill-hand {
    height: 100%;
    width: 430px;
    display: grid;
    /* margin: 0px 10px 0px 15px; */
    /* background-color: #5e0056; */
}

.board-right .hands-player .avel-hand {
    height: 100%;
    width: 290px;
    display: grid;
    /* margin: 0px 10px 0px 15px; */
    /* background-color: #00470f; */
}

.board-right .deck-and-dice-container {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #5e0056; */
}

.board-right .deck-and-dice-container .deck-container {
    height: 33%;
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(201, 201, 189); */
}

.board-right .deck-and-dice-container .deck-container .skill-container,
.board-right .deck-and-dice-container .deck-container .avel-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    // background-color: aqua;
}

.board-right .deck-and-dice-container .deck-container .skill-container .skill-container-item,
.board-right .deck-and-dice-container .deck-container .avel-container .avel-container-item {
    display: flex;
    align-items: end;
    height: 100%;
    margin: 0px 10px;
    /* background-color: #333; */
}

.board-right .deck-and-dice-container .deck-container .resource-points {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    /* background-color: red; */
}

.board-right .deck-and-dice-container .deck-container .resource-points .fd-counter,
.board-right .deck-and-dice-container .deck-container .resource-points .bp-counter {
    width: 150px;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #e8e8e8;
    border: 3px solid goldenrod;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.board-right .deck-and-dice-container .deck-container .resource-points .bp-counter {
    cursor: pointer;
}

.board-right .deck-and-dice-container .deck-container .resource-points .bp-counter:hover {
    filter: brightness(120%);
}

.board-right .deck-and-dice-container .dice-container {
    height: 33%;
    width: auto;
    padding: 10px 5px 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    // background-color: aqua;
}

.eye-icon {
    height: 22px;
    filter: invert(100%);
    position: relative;
    /* left: 2px; */
}

.question-icon0,
.question-icon,
.question-icon2 {
    height: 22px;
    fill: white;
    position: relative;
    cursor: help;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    /* left: 6px; */
    /* pointer-events: all; */
    border-radius: 100%;
}

.question-icon0 {
    height: 18px;
    fill: black;
    margin: 0 2px;
    cursor: default;
}

.question-icon2 {
    height: 28px;
    fill: black;
}

.question-icon3 {
    height: 17px;
    fill: goldenrod;
    cursor: default;
}

.question-icon:hover,
.question-icon2:hover {
    fill: rgb(72, 209, 30);
}


.optionIcon {
    transform: rotate(-45deg);
    display: flex;
    overflow: hidden;
}

.unitOptions {
    position: relative;
    height: 20px;
}


.board-piece {
    transition: top 0.5s ease, left 0.5s ease;
    animation: deploy 0.75s ease-in-out;
    position: absolute;
}

@keyframes deploy {
    0% {
        transform: scale(1.45);
        opacity: 90%;
        z-index: 500
    }

    65% {
        transform: scale(1.5) translateY(-47.5%);
        
    }

    95% {
        transform: translateY(10%);
        z-index: 500
    }

    100% {
        transform: scale(1);
        z-index: 1
    }
}

.crosshair-initial {
    transition: top 0.5s ease, left 0.5s ease;
    animation: crosshair-ani 0.75s ease-in-out;
}

@keyframes crosshair-ani {
    0% {
        transform: scale(1.45) translateY(-20%);
        opacity: 90%;
    }

    100% {
        transform: scale(1);
    }
}
//////////////////////////////////////////////////////////////

@media screen and (max-width: 926px) and (orientation: landscape) {
    .board-physical {
        transform: scale(0.4);
        max-width: 100vw;
        max-height: 100vh;
    }
    .board-space {
        flex-shrink: 0;
        transform: translateY(-20%);
    }
    .board-contents {
        min-height: 165vh;
    }
}


@media screen and (max-width: 754px) and (orientation: landscape) {
    .board-physical {
        transform: scale(0.35);
    }
}

@media screen and (max-height: 400px) and (orientation: landscape) {
    .board-physical {
        transform: scale(0.325);
    }
}

@media screen and (max-height: 330px) and (orientation: landscape) {
    .board-physical {
        transform: scale(0.30);
    }
}