.board-body{
    width: 100%;
    // background-color: aqua;
}

.board-data {
    color: #333;
    margin: 5px 75px;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5rem;
}

.board-physical{
    position: relative;
    display: flex;
    justify-content: center;
    user-select: none;

    // background-color: aqua;
}

.board-space {
    display: flex;
    align-items: center;
    
    border: goldenrod 8px groove;
    height: 890px;
    width: 1450px;
    // padding: 0px;
    padding-top: 10px;
    transform: scale(.9);

    overflow: hidden;

    background: linear-gradient(to bottom, rgb(61, 61, 61), rgb(116, 116, 116) 60%, rgb(173, 173, 173) 100%);
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.5);

    scrollbar-color: rgb(255, 168, 7) rgba(92, 63, 52, 0);
    scrollbar-width: thin;
}

.board-left {
    height: 100%;
    width: 20%;

    // background-color: aqua;

    .board-left-buttons {
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contingency-settings {
        height: 10%;
        position: absolute;
        bottom: 0px;
    }

    .activated-card-display {
        height: 80%;
    }

    .board-spectating-label{
        color: goldenrod;
        -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.75);

        font-size: 2.3rem;
        font-family: Alegreya, Geogia, Times New Roman, "serif";
    }
}

.board-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
    // background-color: aqua;

    .board-frame {
        border: 4px groove goldenrod;
        height: fit-content;
        width: fit-content;
        position: relative;

        // overflow: hidden;

        background: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
        box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.5);
    }

    .board-frame-enemy {
        background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(19, 15, 15) 60%, rgb(44, 43, 43) 100%);
    }
}





.board-right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    // justify-content: 

    // background-color: aqua;

    .hands-player {
        // background-color: #00640d;

        width: 100%;
        height: 20%;
        display: flex;
        grid-template-columns: 1fr 1fr;

        .skill-hand {
            height: 100%;
            width: 430px;
            display: grid;
            // margin: 0px 10px 0px 15px;

            // background-color: #5e0056;
        }

        .avel-hand {
            height: 100%;
            width: 290px;
            display: grid;
            // margin: 0px 10px 0px 15px;

            // background-color: #00470f;
        }

    }


    .deck-and-dice-container {
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        // background-color: #5e0056;

        .deck-container{
            height: 33%;
            
            display: flex;
            justify-content: space-between;

            // background-color: rgb(201, 201, 189);

            .skill-container, .avel-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35%;
                // background-color: #fa0e5d;

                .skill-container-item, .avel-container-item {
                    display: flex;
                    align-items: end;

                    height: 100%;
                    
                    margin: 0px 10px;
                    // background-color: #333;
                }
            }

            .resource-points {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width: 30%;
                // background-color: red;

                .fd-counter, .bp-counter {
                    width: 150px;
                    height: 30px;
                    padding: 5px;
                    
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    
                    color: #e8e8e8;
                                        
                    border: goldenrod 3px solid;
                    border-radius: 8px;                    

                    background-image: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
                    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
                }

                .bp-counter{
                    cursor: pointer;
                }

                .bp-counter:hover {
                    filter: brightness(120%);
                }
            }


        }

        .dice-container {
            height: 33%;
            width: auto;
            // background-color: rgb(34, 31, 31);
            padding: 10px 5px 10px 15px
        }
    }
}

.eye-icon{
    height: 22px;
    // color: #e8e8e8;
    filter: invert(100%);
    position: relative;
    // left: 2px
}

.question-icon0, .question-icon, .question-icon2 {
    height: 22px;
    fill: white;
    position: relative;
    // top: 50%;
    // transform: translateY(-50%);
    // left: 6px;
    cursor: help;

    // pointer-events: all;
            border-radius: 100%;
}

.question-icon0 {
    height: 18px;
    fill: black;
    margin: 0 2px;
    cursor: default;
}

.question-icon2 {
    height: 28px;
    fill: black;
}

.question-icon3 {
    height: 17px;
    fill: goldenrod;
    cursor: default;

}

.question-icon:hover,
.question-icon2:hover {
    fill: rgb(72, 209, 30);
}


.optionIcon {
    transform: rotate(-45deg);
    display: flex;
    overflow: hidden;

}

.unitOptions{
position: relative;
height: 20px;
// background-color: #7cc07c;
}


.board-piece {
    transition: top 0.5s ease, left 0.5s ease;
    animation: deploy 0.75s ease-in-out;
}

@keyframes deploy {
    0% {
        scale: 1.5;
    }

    100% {
        scale: 1;
    }
}