.board-physical{
    position: relative;
    display: flex;
    justify-content: center;

}

.board-piece{
    transition: top 0.5s ease, left 0.5s ease;
    animation: deploy 0.75s ease-in-out;
}

@keyframes deploy {
    0% {
        scale: 1.5;
    }
    100% {
        scale: 1;
    }
}

.activated-card {
    transition: top 0.5s ease, left 0.5s ease;
    animation: activate 0.5s ease-in-out;
}

@keyframes activate {
    0% {
        filter: brightness(300%);
        opacity: 0.05;
        scale: 1.2;
    }

    100% {
        filter: brightness(100%);
        opacity: 1;
        scale: 1;
    }
}


.hand-container {
    display: flex;
    width: 700px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.cardThickness{
    margin-top: -5px;
    width: 100px;
    z-index: -100;
    position: absolute;

    background-color: rgb(36, 36, 83);
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.card-container {
    // display: flex;
    // margin-top: 5px;
    
}

.card-container:not(:first-child) .card {
    margin-top: 0px;
    height: 0.2px;
    /* Adjust thickness as needed for thin rectangles */
    background-color: rgb(110, 21, 145);
    /* Adjust color to match the card */
    
}

.card-container:first-child .card {
    margin-top: 0px;
}

.handCard {
    // width: 100px;
    // height: 140px;
    width: 120px;
    height: 168px;

        display: flex;
        //     flex-direction: column;
        //     justify-content: flex-end;
        //     align-items: center;

    background-size: cover;
    background-position: center;

    border-radius: 5px;

    background-color: green;
    border: 2px solid black;
    margin-right: 10px;

    transition: transform 0.2s ease
}

.handCard:hover {

    top: -16.8px;
    transform: scale(1.2);
    position: relative
}



.card {
    width: 100px;
    height: 140px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;

}

.board-space {
    background: linear-gradient(to bottom, rgb(61, 61, 61), rgb(116, 116, 116) 60%, rgb(173, 173, 173) 100%);
    // height: 100vh;
    padding: 45px 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    // overflow-x: auto;
    scrollbar-color: rgb(255, 168, 7) rgba(92, 63, 52, 0);
    scrollbar-width: thin;
    border: goldenrod 3px solid;
    height: 800px;
    // min-height: 100%;
    width: 1450px;
    min-width: fit-content;
    // margin-bottom: 20px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.35);

    transform: scale(.9);

}

.board-left{
    height: 100%;
    width: 290px;
    // background-color: green;

    .board-left-buttons {
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contingency-settings{
        // background-color: red;
        position: absolute;
        bottom: 0px;
        // align-self: end;

        // top: 100px

    }



}

.activated-card-display {
    height: 80%;
}

.board-frame {
    // background-color: rgb(51, 46, 38);
    background: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
    border: 2.5px solid goldenrod;
    width: 25%;
    // height: 70%;
    height: fit-content;
    width: fit-content;
    position: relative;
    // overflow: hidden;
    justify-self: start;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    
}

.board-frame-enemy {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(19, 15, 15) 60%, rgb(44, 43, 43) 100%);
}

.board-right {
    // background-color: rgb(255, 0, 0);
    // width: 700px;\
    width: fit-content;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .skill-used {
        background-color: #cfcfcf;
        // height: 50%;
        // width: 100%;
        height: fit-content;
        width: fit-content;
        padding: 5px
    }

    .avel-used {
        background-color: #7cc07c;
        height: 50%;
        width: 100%;
    }

    .deck-and-dice-container {
        height: 100%;
        // background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .deck-container{
            height: 33%;
            // background-color: rgb(201, 201, 189);
            display: flex;
            justify-content: space-between;

            .skill-container {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 33%;
                // background-color: #fa0e5d;

                .skill-container-item {
                    height: 100px;
                    width: 50px;
                    margin: 2px;
                    // background-color: #333;
                }
            }

            .resource-points {
                    // background-color: red;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    width: 33%;
                    // background-color: red;

                    .fd-counter {
                        // background-color: #333;
                        background-image: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
                        width: 150px;
                        height: 30px;
                        margin-top: 2px;
                        color: #e8e8e8;
                        padding: 5px;
                        border: goldenrod 3px solid;
                        border-radius: 8px;
                        // text-align: center;
                        box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .35);
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                    }

                    .bp-counter {
                        // background-color: #333;
                        background-image: linear-gradient(to bottom, rgb(151, 8, 11), rgb(221, 35, 38) 60%, rgb(255, 90, 93) 100%);
                        width: 150px;
                        height: 30px;
                        margin-bottom: 2px;
                        color: #e8e8e8;
                        cursor: pointer;
                        padding: 5px;
                        border: goldenrod 3px solid;
                        border-radius: 8px;
                        // text-align: center;
                        box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .35);
                        
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                    }

                    .bp-counter:hover {
                        filter: brightness(120%);
                    }

                }

            .avel-container{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 33%;

                .avel-container-item{
                    height: 100px;
                    width: 50px;
                    margin: 2px;
                    // background-color: #e8e8e8;
                }
            }
        }

        .dice-container {
            height: 33%;
            width: auto;
            // background-color: rgb(34, 31, 31);
            padding: 10px 5px 10px 15px
        }

       
    }

    .hands-player {
        // background-color: #fff679;
        // width: 100%;
        width: 700px;
        height: 75px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        
        .avel-hand {
            height: 75px;
            width: 260px;
        }

        .skill-hand {
            height: 75px;
            width: 440px;
            display: grid;
            margin: 0 10px 0 15px
            // background-color: red;
        }
    }


}

.eye-icon{
    height: 22px;
    // color: #e8e8e8;
    filter: invert(100%);
    position: relative;
    // left: 2px
}

.question-icon0, .question-icon, .question-icon2 {
    height: 22px;
    fill: white;
    position: relative;
    // top: 50%;
    // transform: translateY(-50%);
    // left: 6px;
    cursor: pointer;

    pointer-events: all;
}

.question-icon0 {
    height: 18px;
    fill: black;
    margin: 0 2px;
    cursor: default;
}

.question-icon2 {
    height: 28px;
    fill: black;
}

.question-icon:hover,
.question-icon2:hover {
    fill: rgb(72, 209, 30);
}


.optionIcon {
    transform: rotate(-45deg);
    display: flex;
    overflow: hidden;
}

.unitOptions{
position: relative;
height: 20px;
// background-color: #7cc07c;
}