.piece {
    width: 60px;
    height: 60px;
    border: 3px solid black;
    border-radius: 100%;
    color:rgb(49, 109, 31);
    text-align: center;
    position: relative;
    user-select: none;
}

.scionClass{
    object-fit: cover;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.host{
    /* background-color: rgb(13, 62, 153); */
    /* background-color: rgb(201, 154, 0); */
    background: linear-gradient(25deg, #ac7000, #d69316, #ffcf4d)
}

.guest {
    /* background-color: rgb(163, 0, 0); */
    /* background-color: rgb(105, 105, 105); */
    background: linear-gradient(25deg, #5a5a5a, #979797, #c9c6c6)
}

.pieceOption{
    width: 25px;
    height: 25px;
    border: 2px solid black;
    
    /*circle shape*/
    /* border-radius: 100%; */

    /*diamond shape*/
    transform: rotate(45deg);

    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    font-size: small;
    z-index: 400;
}

.pieceOption:hover {
    background-color: rgb(252, 247, 180);
    cursor: pointer;
    scale: 1.5;
}

.optionIcon {
    transform: rotate(-45deg);
}




.shieldAndWard {
    /* height: 100px;
    width: 100px; */
    height: 25px;
    position: absolute;
    z-index: 200;
    pointer-events: none;
    top: 48px;
    /* left: 22px; */
    left: 48px;
}

.fade-in-out {
    animation: fadeInOut 1s ease-in-out infinite alternate;
}

@keyframes fadeInOut {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

.virtue{
    height: 25px;
    position: absolute;
    z-index: 500;
    pointer-events: none;
    top: 50px;
    left: 20px;
    filter: brightness(.9) contrast(1.3) hue-rotate(340deg);
    animation: scaleAnimation 1s ease-in-out infinite alternate
}

@keyframes scaleAnimation {

    0%,
    100% {
        transform: scale(0.9);
        /* Start and end scale */
    }
    50% {
        transform: scale(1.2);
        /* Middle scale */
    }
}




.glow {
    width: 40px;
    height: 40px;
    border: 4px solid rgb(255, 227, 67);
    border-radius: 100%;
    /* background-color: transparent; */
    background-color: rgb(255, 227, 67, 0.25);;
    /* transition: all 1.5s ease; */
    position: absolute;
    z-index: 400;

    top: 10%;
    left: 10%;
    

}

.glow.animating {
    animation: expand-contract 1.5s linear infinite;

}

@keyframes expand-contract {
    0% {
        /* width: 50px;
        height: 50px; */
        opacity: 0.95;
        transform: scale(1);
    }
    50% {
        opacity: 0.7;
        transform: scale(1.7);
    }
    100% {
        opacity: 0;
        transform: scale(2.2);
    }
}

.anathema-aura{
    width: 60px;
    height: 60px;
    top: -3px;
    left: -3px;

    border: 3px solid rgb(0, 0, 0,0);
    border-radius: 100%;
    position: absolute;
    
    overflow: hidden;
}

.cascade-line {
    position: absolute;
    left: -5px;
    width: 120%;
    height: 200px;
    /* background: linear-gradient(to bottom, rgba(75, 0, 0,0.5), rgb(75, 0, 0)); */
    background: linear-gradient(to bottom, rgba(46, 32, 145, 0.25), rgba(46, 32, 145, 0.25) 50%, rgba(121, 0, 111, 0.95) 95% ,rgba(0, 0, 0, 1) 100%);
    animation: cascadeAnimation 2s linear infinite;
}

@keyframes cascadeAnimation {
    0% {
        top: -220px;
    }
    100% {
        top: 0px
    }
}

.cascade-line2 {
    position: absolute;
    left: -5px;
    width: 120%;
    height: 80px;
    background: rgba(46, 32, 145, 0.25);
    animation: cascadeAnimation2 2s linear infinite;
}

@keyframes cascadeAnimation2 {
    0% {
        top: -20px;
    }
    100% {
        top: 200px
    }
}

.cascade-line3 {
    position: absolute;
    left: -5px;
    width: 120%;
    height: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1) 100%);
    animation: cascadeAnimation3 2s linear infinite;
}

@keyframes cascadeAnimation3 {
    0% {
        top: -40px;
    }
    100% {
        top: 180px
    }
}


.ravager-line {
    position: absolute;
    left: -5px;
    width: 120%;
    height: 250px;
    top: 65px;
    
    background: linear-gradient(to bottom, rgb(197, 39, 0), rgba(129, 0, 0, .95) 5%, rgba(129, 0, 0, 0.15) 50%, rgba(129, 0, 0, 0.15) 100%);
    animation: ravagerAnimation 2s linear infinite;
}

@keyframes ravagerAnimation {
    0% {
        top: 65px;
    }
    100% {
        top: -155px
    }
}

.ravager-line2 {
    position: absolute;
    left: -5px;
    width: 120%;
    height: 80px;
    background: rgba(129, 0, 0, 0.15);
    animation: ravagerAnimation2 2s linear infinite;
}

@keyframes ravagerAnimation2 {
    0% {
        top: -15px;
    }
    100% {
        top: -235px
    }
}

.blink {
    animation: fadeInOut 2s infinite alternate;
}

.fever{
    transform: rotate(45deg);
    background: linear-gradient(22deg, #ff0b03,#ff0b03,#dd1e17, #ff8b1e, #ffc1a4, #ffb0b0);
    border: 0.5px solid #000000de;
    height: 7.5px;
    width: 7.5px;
    position: absolute;
    animation: moveUpDown 0.95s ease-in-out infinite;
    pointer-events: none;
}

.blossom {
    transform: rotate(45deg);
    background: linear-gradient(22deg, #7a137e, #971e9b, #d138d6, #fa69ff, #f7deff, #fcdbff);
    border: 0.5px solid #000000de;
    height: 7.5px;
    width: 7.5px;
    position: absolute;
    animation: moveUpDown 0.95s ease-in-out infinite;
    pointer-events: none;
}

.charge {
    transform: rotate(45deg);
    background: linear-gradient(22deg, #6e6700, #9b9000, #ddcf08, #ccbe00, #fff241, #fff894);
    border: 0.5px solid #000000de;
    height: 7.5px;
    width: 7.5px;
    position: absolute;
    animation: moveUpDown 0.95s ease-in-out infinite;
    pointer-events: none;
}

@keyframes moveUpDown {
    0%,
    100% {
        top: 0;
    }
    50% {
        top: 2.5px;
    }
}