.tile{
    width: 70px;
    height: 70px;
    /* background-color: bisque; */
    /* background-color: rgb(240, 223, 208); */
    /* background-color: rgb(231, 211, 179); */

    background-color: rgba(255, 255, 255, 0.9);
    
        
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
}

.selectable  .tile {
    background-color: rgba(100, 211, 255, 0.9);

}

.selectable .tile:hover{
background-color: rgb(99, 192, 63);
    cursor: pointer
}

.tile-grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
    /* max-width: 80px; */
    margin: 10px;    
}

.reversed-tile{
    direction: ltr;
    transform: rotate(180deg);
}

.reversed-tile-grid, .reversed-tile-grid>.reversed-tile{
    transform: rotate(180deg);
}

