.tile{
    width: 70px;
    height: 70px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
    /* max-width: 80px; */
    margin: 10px;
    
}