.tile{
    width: 80px;
    height: 80px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    max-width: 80px;
    margin: 10px auto;
}